body {
  font-family: $fontMain;
  background-color: $colorWhite;
  color: $colorBlack;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-variant-ligatures: none;

  @include responsive1199 {
    font-size: 14px;
    line-height: 18px;
  }

  &.modal-open,
  &.hidden {
    overflow: hidden;
  }

  &.index-page {
    .header-markets {
      display: flex;

      @include responsive767 {
        display: none;
      }
    }
  }

  &.inner-page {
    .header {
      .header-markets {
        display: none;
      }
    }

    .header-link-animals {
      @include responsive767 {
        display: none;
      }
    }
  }

  &.simple-page {
    padding-top: 67px;
  }
}

.container {
  width: 100%;
  max-width: 1345px;
  padding: 0 10px;
  margin: 0 auto;

  @include responsive1549 {
    max-width: 1140px;
  }

  @include responsive1199 {
    max-width: 846px;
  }

  @include responsive1023 {
    max-width: 768px;
  }

  @include responsive767 {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

label,
textarea,
input {
  font-family: $fontMain;
}

div {
  scrollbar-color: rgba(255, 255, 255, 0.33) transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    left: 5px;
  }

  &::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 10px;
  }
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  // overflow: hidden;

  footer,
  .footer {
    margin-top: auto;
  }
}

.main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

picture {
  position: relative;
  display: block;

  img {
    position: relative;
  }
}

.picture-block {
  position: relative;

  picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

section {
  padding: 80px 0;

  @include responsive1549 {
    padding: 50px 0;
  }

  @include responsive1199 {
    padding: 50px 0;
  }

  @include responsive767 {
    padding: 40px 0;
  }

  @include responsive639 {
    padding: 30px 0;
  }
}

.selectric-wrapper {
  border: 0;
  outline: none;

  &.selectric-hover {
    .selectric {
      border-color: $colorBlack;
    }
  }

  &.selectric-open {
    .selectric {
      border-color: $colorBlack;

      .button {
        transform: scale(1, -1);
      }
    }
  }

  &.selectric-above {
    .selectric-items {
      border: solid 1px $colorBlack;
    }

    .selectric-scroll ul {
    }
  }
}

.selectric {
  border: 0;
  background: transparent;
  width: 100%;
  height: 50px;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;

  .label {
    height: 100%;
    font-weight: 500;
    font-family: $fontMain;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    color: $colorDark;
    background-color: rgba(196, 196, 195, 0.5);
    padding: 14px 20px;
    border-radius: 20px;

    @include responsive767 {
      font-size: 16px;
      line-height: 18px;
    }
  }

  .button {
    width: 24px;
    height: 24px;
    background: transparent;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13 1L7 7L1 1' stroke='%23525151' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
    transition: all 0.3s;
    top: 50%;
    right: 24px;
    margin-top: -12px;

    &::after {
      display: none;
    }
  }
}

.selectric-items {
  background: transparent;
  background-color: $colorWhite;
  border: 0;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  box-shadow: 0px 6px 15px 0px rgba(98, 97, 97, 0.25);
  border-top: 0;
  overflow: hidden;
  z-index: -1;
  min-width: 140px;
  right: 0;
  left: auto;
}

.selectric-scroll {
  border: 0;

  ul {
    padding-top: 5px;

    li {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #7b7b7b;
      padding: 8px;
      transition: all 0.3s;

      &.highlighted,
      &.selected {
        background: transparent !important;
        text-decoration: underline;
        color: $colorBlack;
      }

      &:hover {
        background: transparent !important;
        color: $colorBlack;
      }
    }
  }
}

.selectric-open {
  z-index: 4;
}

.swiper-pagination-bullets {
  bottom: 0 !important;
  top: auto !important;
  left: 0;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  z-index: 5;

  .swiper-pagination-bullet {
    width: 16px;
    height: 1px;
    opacity: 1;
    border-radius: 0;
    margin: 0 !important;
    flex: 1;
    position: relative;
    transition: all 0.3s;
    background-color: rgba(15, 15, 15, 0.2);
  }

  .swiper-pagination-bullet-active {
    background-color: $colorBlack;
  }
}

.swiper-controls {
  position: relative;
  display: flex;
  gap: 20px;
}

.swiperBtnPrev {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 33px;
  height: 33px;
  min-width: 33px;
  transition: all 0.3s;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='49' height='49' viewBox='0 0 49 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 24.3333H47.6667M47.6667 24.3333L24.3333 1M47.6667 24.3333L24.3333 47.6667' stroke='%230F0F0F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");

  @include responsive767 {
    width: 24px;
    height: 19px;
    min-width: 24px;
  }
}

.swiperBtnNext {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 33px;
  height: 33px;
  min-width: 33px;
  transition: all 0.3s;
  background-size: contain;

  @include responsive767 {
    width: 24px;
    height: 19px;
    min-width: 24px;
  }
}

.input-item {
  width: 100%;

  input {
    width: 100%;
    height: 65px;
    border: 0;
    background-color: transparent;
    border-bottom: solid 1px $colorWhite;
    border-radius: 0;
    font-size: 24px;
    padding: 0;
    color: $colorWhite;

    @include responsive1023 {
      font-size: 20px;
    }

    @include responsive767 {
      height: 45px;
    }

    &::placeholder {
      text-transform: uppercase;
      opacity: 0.6;
    }
  }

  textarea {
    width: 100%;
    height: 112px;
    background-color: $colorWhite;
    border-radius: 9px;
    border: 0;
    padding: 12px 16px;
  }
}

.check-block {
  input {
    display: none;

    &:checked + label {
      &:before {
        background-color: $colorBlack;
      }

      &::after {
        background-color: $colorBlack;
        opacity: 1;
      }
    }
  }

  label {
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    position: relative;
    padding-left: 24px;
    text-decoration-color: transparent;
    text-decoration-skip-ink: none;
    text-underline-offset: 1px;
    text-decoration-thickness: 1px;
    display: block;
    align-items: center;
    gap: 8px;
    padding-left: 45px;
    color: $colorBlack;

    @include responsive1549 {
      font-size: 14px;
      line-height: 17px;
    }

    @include responsive1199 {
      font-size: 12px;
    }

    @include responsive1023 {
      padding-left: 35px;
    }

    @include responsive767 {
      font-size: 10px;
      line-height: 28px;
    }

    @include responsive639 {
      line-height: 12px;
    }

    a {
      text-decoration: underline;
      opacity: 0.3;
      transition: opacity 0.3s;
      text-underline-offset: 4px;

      @include responsive767 {
        text-underline-offset: 2px;
      }

      @include hover {
        opacity: 1;
      }
    }

    @include before {
      left: 0;
      top: 50%;
      width: 28px;
      height: 28px;
      border: 0;
      border-radius: 4px;
      overflow: hidden;
      transform: translateY(-50%);
      border: solid 1px $colorBlack;

      @include responsive1023 {
        width: 24px;
        height: 24px;
      }
    }

    @include after {
      background-color: $colorWhite;
      left: 0;
      top: 50%;
      width: 28px;
      height: 28px;
      opacity: 0;
      border-radius: 4px;
      overflow: hidden;
      transform: translateY(-50%);
      background-position: center;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='35' height='25' viewBox='0 0 35 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.5 9.5L13.8077 22L33.5 2' stroke='%23EDEADF' stroke-width='4'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: 15px;

      @include responsive1023 {
        width: 24px;
        height: 24px;
        background-size: 50%;
      }
    }
  }
}

.radio-block {
  position: relative;

  label {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    padding-left: 17px;
    cursor: pointer;

    @include before {
      left: -10px;
      top: 2px;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: solid 1px $colorBlack;

      @include responsive1549 {
        top: 0;
      }
    }

    @include after {
      left: -7px;
      top: 5px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: $colorBlack;
      opacity: 0;

      @include responsive1549 {
        top: 3px;
      }
    }

    @include responsive1549 {
      font-size: 12px;
    }
  }

  input {
    &:checked {
      & + ::after {
        opacity: 1;
      }
    }
  }
}

.play {
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='45' height='50' viewBox='0 0 45 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M41.0625 19.8399C45.0347 22.1333 45.0347 27.8667 41.0625 30.1601L9.43749 48.4188C5.46527 50.7121 0.499998 47.8454 0.499998 43.2587L0.499999 6.74129C0.5 2.15456 5.46528 -0.712135 9.4375 1.58123L41.0625 19.8399Z' fill='%23FA4F19'/%3e%3c/svg%3e ");
  background-position: calc(50% + 5px) center;
  background-repeat: no-repeat;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  z-index: 5;
}

.swiper-controls-simple {
  display: flex;
  align-items: center;
  gap: 8px;

  .btnSwiperPrev {
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.79776 0.213013C7.5281 -0.0710044 7.0909 -0.0710044 6.82124 0.213013L0.404486 6.97148C-0.13483 7.53952 -0.134828 8.46048 0.404486 9.02852L6.82124 15.787C7.0909 16.071 7.5281 16.071 7.79776 15.787C8.06741 15.503 8.06741 15.0425 7.79776 14.7585L1.381 8L7.79776 1.24153C8.06741 0.957515 8.06741 0.497031 7.79776 0.213013Z' fill='%234E5457'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    border: solid 1px $colorBlack;
    transition: all 0.3s;

    @include hover {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.79776 0.213013C7.5281 -0.0710044 7.0909 -0.0710044 6.82124 0.213013L0.404486 6.97148C-0.13483 7.53952 -0.134828 8.46048 0.404486 9.02852L6.82124 15.787C7.0909 16.071 7.5281 16.071 7.79776 15.787C8.06741 15.503 8.06741 15.0425 7.79776 14.7585L1.381 8L7.79776 1.24153C8.06741 0.957515 8.06741 0.497031 7.79776 0.213013Z' fill='%23fff'/%3e%3c/svg%3e ");
      background-color: $colorBlack;
      border-color: $colorWhite;
    }
  }

  .btnSwiperNext {
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.202243 0.213013C0.471901 -0.0710044 0.909102 -0.0710044 1.17876 0.213013L7.59551 6.97148C8.13483 7.53952 8.13483 8.46048 7.59551 9.02852L1.17876 15.787C0.909101 16.071 0.4719 16.071 0.202242 15.787C-0.0674151 15.503 -0.067415 15.0425 0.202242 14.7585L6.619 8L0.202243 1.24153C-0.0674144 0.957515 -0.0674144 0.497031 0.202243 0.213013Z' fill='%234E5457'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    border: solid 1px $colorBlack;
    transition: all 0.3s;

    @include hover {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.202243 0.213013C0.471901 -0.0710044 0.909102 -0.0710044 1.17876 0.213013L7.59551 6.97148C8.13483 7.53952 8.13483 8.46048 7.59551 9.02852L1.17876 15.787C0.909101 16.071 0.4719 16.071 0.202242 15.787C-0.0674151 15.503 -0.067415 15.0425 0.202242 14.7585L6.619 8L0.202243 1.24153C-0.0674144 0.957515 -0.0674144 0.497031 0.202243 0.213013Z' fill='%23fff'/%3e%3c/svg%3e ");
      background-color: $colorBlack;
      border-color: $colorWhite;
    }
  }
}

.overlay {
  background-color: $colorBlack;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;

  &.visible {
    pointer-events: initial;
    opacity: 0.7;
  }
}

.fraction {
  span {
    min-width: 32px;
    text-align: center;
    display: inline-block;

    &:nth-child(2) {
      min-width: initial;
    }
  }

  .fraction__current {
  }

  .fraction__all {
  }
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  @include responsive1549 {
    font-size: 16px;
    line-height: 20px;
  }

  @include responsive767 {
    font-size: 12px;
    line-height: 15px;
  }

  .caption {
  }

  p {
    max-width: 800px;
    width: 100%;
  }
}

.swiper-controls-simple {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: $colorWhite;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  position: relative;
  right: 0;
  top: 0;
  z-index: 3;
  gap: 47px;
  margin: 40px auto 0;

  @include responsive1199 {
    margin-top: 24px;
  }

  @include responsive767 {
    gap: 24px;
  }

  .swiperBtnPrev {
    position: relative;
    width: 45px;
    height: 37px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='47' height='39' viewBox='0 0 47 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 4.98242H0.5V37.9824H30.5V32.9824H9L8.5 31.9824L45.5 1.98242L39 0.982422L6 28.4824L5 27.4824L6 4.98242Z' fill='%233A3A3A' stroke='%233A3A3A'/%3e%3c/svg%3e ");
    transition: all 0.3s;

    @include responsive767 {
      width: 24px;
      height: 19px;
      min-width: 24px;
    }

    @include hover {
      transform: scale(0.9);
    }
  }

  .swiperBtnNext {
    position: relative;
    width: 45px;
    height: 37px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='47' height='39' viewBox='0 0 47 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M41 33.9824H46.5V0.982422H16.5V5.98242H38L38.5 6.98242L1.5 36.9824L8 37.9824L41 10.4824L42 11.4824L41 33.9824Z' fill='%233A3A3A' stroke='%233A3A3A'/%3e%3c/svg%3e ");
    transition: all 0.3s;

    @include responsive767 {
      width: 24px;
      height: 19px;
      min-width: 24px;
    }

    @include hover {
      transform: scale(0.9);
    }
  }

  .swiper-button-disabled {
    opacity: 0.33;
    pointer-events: none;
  }
}

.link-site {
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='18' viewBox='0 0 14 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 2.12484V0.0848433H13.34V12.6548H11.15V6.53484L11.48 4.10484L11.15 3.83484L3.95 8.51484C3.05 9.08484 2.78 9.50484 2.78 10.5848V17.9648H0.53V11.5448C0.53 9.32484 1.67 7.28484 3.53 6.14484L8.42 3.20484L10.37 2.51484L10.16 2.12484H2Z' fill='%233A3A3A'/%3e%3c/svg%3e ");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 25px;
  @include text-decoration-hover($colorBlack);

  @include responsive1549 {
    font-size: 20px;
    line-height: 24px;
  }

  @include responsive1439 {
    font-size: 18px;
    line-height: 20px;
  }

  @include responsive1199 {
    font-size: 16px;
    line-height: 20px;
  }

  @include responsive767 {
    font-size: 14px;
    line-height: 18px;
  }
}

.marketplace {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 40px;

  .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
  }

  .marketplace__list {
    display: flex;
    align-items: center;
    gap: 8px;

    li {
      width: 166px;
      height: 50px;
      background-color: $colorWhite;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border: solid 1px $colorBlack;
      border-radius: 20px;

      a {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s;

        @include hover {
          transform: scale(0.95);
        }
      }
    }
  }

  .picture-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      position: relative;
      width: 130px;
      object-fit: contain;
      margin: 0 auto;
      display: block;
    }
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

.big-cat-section {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: calc(1009 / 1920 * 100%);
  padding-bottom: 0;

  @include responsive767 {
    padding-top: calc(290 / 390 * 100%);
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
