body {
  font-family: $fontMain;
  background-color: $colorWhite;
  color: $colorBlack;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-variant-ligatures: none;

  @include responsive1199 {
    font-size: 14px;
    line-height: 18px;
  }

  &.modal-open,
  &.hidden {
    overflow: hidden;
  }

  &.index-page {
    .header-markets {
      display: flex;

      @include responsive767 {
        display: none;
      }
    }
  }

  &.inner-page {
    .header {
      .header-markets {
        display: none;
      }
    }

    .header-link-animals {
      @include responsive767 {
        display: none;
      }
    }
  }

  &.simple-page {
    padding-top: 63px;

    @include responsive1199 {
      padding-top: 58px;
    }

    @include responsive1023 {
      padding-top: 53px;
    }

    @include responsive767 {
      padding-top: 48px;
    }

    .header {
      background-color: #525151;

      &.fixed {
        background-color: #3a3a3a;
      }
    }
  }
}

.container {
  width: 100%;
  max-width: 1345px;
  padding: 0 10px;
  margin: 0 auto;

  @include responsive1549 {
    max-width: 1140px;
  }

  @include responsive1199 {
    max-width: 846px;
  }

  @include responsive1023 {
    max-width: 768px;
  }

  @include responsive767 {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

label,
textarea,
input {
  font-family: $fontMain;
}

div {
  scrollbar-color: rgba(255, 255, 255, 0.33) transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
    left: 5px;
  }

  &::-webkit-scrollbar-thumb {
    width: 5px;
    background-color: rgba(255, 255, 255, 0.33);
    border-radius: 10px;
  }
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  // overflow: hidden;

  footer,
  .footer {
    margin-top: auto;
  }
}

.main {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}

picture {
  position: relative;
  display: block;

  img {
    position: relative;
  }
}

.picture-block {
  position: relative;

  picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

section {
  padding: 80px 0;

  @include responsive1549 {
    padding: 50px 0;
  }

  @include responsive1199 {
    padding: 50px 0;
  }

  @include responsive767 {
    padding: 40px 0;
  }

  @include responsive639 {
    padding: 30px 0;
  }
}

.selectric-wrapper {
  border: 0;
  outline: none;

  &.selectric-hover {
    .selectric {
      border-color: $colorBlack;
    }
  }

  &.selectric-open {
    .selectric {
      border-color: $colorBlack;

      .button {
        transform: scale(1, -1);
      }
    }
  }

  &.selectric-above {
    .selectric-items {
      border: solid 1px $colorBlack;
    }

    .selectric-scroll ul {
    }
  }
}

.selectric {
  border: 0;
  background: transparent;
  width: 100%;
  height: 50px;
  width: 100%;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;

  .label {
    height: 100%;
    font-weight: 500;
    font-family: $fontMain;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    color: $colorDark;
    background-color: rgba(196, 196, 195, 0.5);
    padding: 14px 20px;
    border-radius: 20px;

    @include responsive767 {
      font-size: 16px;
      line-height: 18px;
    }
  }

  .button {
    width: 24px;
    height: 24px;
    background: transparent;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M13 1L7 7L1 1' stroke='%23525151' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px;
    transition: all 0.3s;
    top: 50%;
    right: 24px;
    margin-top: -12px;

    &::after {
      display: none;
    }
  }
}

.selectric-items {
  background: transparent;
  background-color: $colorWhite;
  border: 0;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  box-shadow: 0px 6px 15px 0px rgba(98, 97, 97, 0.25);
  border-top: 0;
  overflow: hidden;
  z-index: -1;
  min-width: 140px;
  right: 0;
  left: auto;
}

.selectric-scroll {
  border: 0;

  ul {
    padding-top: 5px;

    li {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: #7b7b7b;
      padding: 8px;
      transition: all 0.3s;

      &.highlighted,
      &.selected {
        background: transparent !important;
        text-decoration: underline;
        color: $colorBlack;
      }

      &:hover {
        background: transparent !important;
        color: $colorBlack;
      }
    }
  }
}

.selectric-open {
  z-index: 4;
}

.swiper-pagination-bullets {
  bottom: 0 !important;
  top: auto !important;
  left: 0;
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  z-index: 5;

  .swiper-pagination-bullet {
    width: 16px;
    height: 1px;
    opacity: 1;
    border-radius: 0;
    margin: 0 !important;
    flex: 1;
    position: relative;
    transition: all 0.3s;
    background-color: rgba(15, 15, 15, 0.2);
  }

  .swiper-pagination-bullet-active {
    background-color: $colorBlack;
  }
}

.swiper-controls {
  position: relative;
  display: flex;
  gap: 20px;
}

.swiperBtnPrev {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 33px;
  height: 33px;
  min-width: 33px;
  transition: all 0.3s;
  background-size: contain;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='49' height='49' viewBox='0 0 49 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 24.3333H47.6667M47.6667 24.3333L24.3333 1M47.6667 24.3333L24.3333 47.6667' stroke='%230F0F0F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");

  @include responsive767 {
    width: 24px;
    height: 19px;
    min-width: 24px;
  }
}

.swiperBtnNext {
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 33px;
  height: 33px;
  min-width: 33px;
  transition: all 0.3s;
  background-size: contain;

  @include responsive767 {
    width: 24px;
    height: 19px;
    min-width: 24px;
  }
}

.input-item {
  width: 100%;

  input {
    width: 100%;
    height: 65px;
    border: 0;
    background-color: transparent;
    border-bottom: solid 1px $colorWhite;
    border-radius: 0;
    font-size: 24px;
    padding: 0;
    color: $colorWhite;

    @include responsive1023 {
      font-size: 20px;
    }

    @include responsive767 {
      height: 45px;
    }

    &::placeholder {
      text-transform: uppercase;
      opacity: 0.6;
    }
  }

  textarea {
    width: 100%;
    height: 112px;
    background-color: $colorWhite;
    border-radius: 9px;
    border: 0;
    padding: 12px 16px;
  }
}

.check-block {
  input {
    display: none;

    &:checked + label {
      &:before {
        background-color: $colorBlack;
      }

      &::after {
        background-color: $colorBlack;
        opacity: 1;
      }
    }
  }

  label {
    cursor: pointer;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    position: relative;
    padding-left: 24px;
    text-decoration-color: transparent;
    text-decoration-skip-ink: none;
    text-underline-offset: 1px;
    text-decoration-thickness: 1px;
    display: block;
    align-items: center;
    gap: 8px;
    padding: 10px 0 10px 43px;
    color: $colorBlack;
    min-height: 28px;

    @include responsive1549 {
      font-size: 14px;
      line-height: 17px;
    }

    @include responsive1199 {
      font-size: 12px;
    }

    @include responsive1023 {
      padding-left: 35px;
    }

    @include responsive767 {
      font-size: 10px;
      line-height: 28px;
    }

    @include responsive639 {
      line-height: 12px;
    }

    a {
      text-decoration: underline;
      opacity: 0.3;
      transition: opacity 0.3s;
      text-underline-offset: 4px;

      @include responsive767 {
        text-underline-offset: 2px;
      }

      @include hover {
        opacity: 1;
      }
    }

    @include before {
      left: 0;
      top: 50%;
      width: 28px;
      height: 28px;
      border: 0;
      border-radius: 4px;
      overflow: hidden;
      transform: translateY(-50%);
      border: solid 1px $colorBlack;

      @include responsive1023 {
        width: 24px;
        height: 24px;
      }
    }

    @include after {
      background-color: $colorWhite;
      left: 0;
      top: 50%;
      width: 28px;
      height: 28px;
      opacity: 0;
      border-radius: 4px;
      overflow: hidden;
      transform: translateY(-50%);
      background-position: center;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='35' height='25' viewBox='0 0 35 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.5 9.5L13.8077 22L33.5 2' stroke='%23EDEADF' stroke-width='4'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: 15px;

      @include responsive1023 {
        width: 24px;
        height: 24px;
        background-size: 50%;
      }
    }
  }
}

.radio-block {
  position: relative;

  label {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    position: relative;
    padding-left: 17px;
    cursor: pointer;

    @include before {
      left: -10px;
      top: 2px;
      width: 17px;
      height: 17px;
      border-radius: 50%;
      border: solid 1px $colorBlack;

      @include responsive1549 {
        top: 0;
      }
    }

    @include after {
      left: -7px;
      top: 5px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: $colorBlack;
      opacity: 0;

      @include responsive1549 {
        top: 3px;
      }
    }

    @include responsive1549 {
      font-size: 12px;
    }
  }

  input {
    &:checked {
      & + ::after {
        opacity: 1;
      }
    }
  }
}

.play {
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='45' height='50' viewBox='0 0 45 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M41.0625 19.8399C45.0347 22.1333 45.0347 27.8667 41.0625 30.1601L9.43749 48.4188C5.46527 50.7121 0.499998 47.8454 0.499998 43.2587L0.499999 6.74129C0.5 2.15456 5.46528 -0.712135 9.4375 1.58123L41.0625 19.8399Z' fill='%23FA4F19'/%3e%3c/svg%3e ");
  background-position: calc(50% + 5px) center;
  background-repeat: no-repeat;
  width: 66px;
  height: 66px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  z-index: 5;
}

.swiper-controls-simple {
  display: flex;
  align-items: center;
  gap: 8px;

  .btnSwiperPrev {
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.79776 0.213013C7.5281 -0.0710044 7.0909 -0.0710044 6.82124 0.213013L0.404486 6.97148C-0.13483 7.53952 -0.134828 8.46048 0.404486 9.02852L6.82124 15.787C7.0909 16.071 7.5281 16.071 7.79776 15.787C8.06741 15.503 8.06741 15.0425 7.79776 14.7585L1.381 8L7.79776 1.24153C8.06741 0.957515 8.06741 0.497031 7.79776 0.213013Z' fill='%234E5457'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    border: solid 1px $colorBlack;
    transition: all 0.3s;

    @include hover {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M7.79776 0.213013C7.5281 -0.0710044 7.0909 -0.0710044 6.82124 0.213013L0.404486 6.97148C-0.13483 7.53952 -0.134828 8.46048 0.404486 9.02852L6.82124 15.787C7.0909 16.071 7.5281 16.071 7.79776 15.787C8.06741 15.503 8.06741 15.0425 7.79776 14.7585L1.381 8L7.79776 1.24153C8.06741 0.957515 8.06741 0.497031 7.79776 0.213013Z' fill='%23fff'/%3e%3c/svg%3e ");
      background-color: $colorBlack;
      border-color: $colorWhite;
    }
  }

  .btnSwiperNext {
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.202243 0.213013C0.471901 -0.0710044 0.909102 -0.0710044 1.17876 0.213013L7.59551 6.97148C8.13483 7.53952 8.13483 8.46048 7.59551 9.02852L1.17876 15.787C0.909101 16.071 0.4719 16.071 0.202242 15.787C-0.0674151 15.503 -0.067415 15.0425 0.202242 14.7585L6.619 8L0.202243 1.24153C-0.0674144 0.957515 -0.0674144 0.497031 0.202243 0.213013Z' fill='%234E5457'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    border: solid 1px $colorBlack;
    transition: all 0.3s;

    @include hover {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='16' viewBox='0 0 8 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.202243 0.213013C0.471901 -0.0710044 0.909102 -0.0710044 1.17876 0.213013L7.59551 6.97148C8.13483 7.53952 8.13483 8.46048 7.59551 9.02852L1.17876 15.787C0.909101 16.071 0.4719 16.071 0.202242 15.787C-0.0674151 15.503 -0.067415 15.0425 0.202242 14.7585L6.619 8L0.202243 1.24153C-0.0674144 0.957515 -0.0674144 0.497031 0.202243 0.213013Z' fill='%23fff'/%3e%3c/svg%3e ");
      background-color: $colorBlack;
      border-color: $colorWhite;
    }
  }
}

.overlay {
  background-color: $colorBlack;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 7;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;

  &.visible {
    pointer-events: initial;
    opacity: 0.7;
  }
}

.fraction {
  span {
    min-width: 32px;
    text-align: center;
    display: inline-block;

    &:nth-child(2) {
      min-width: initial;
    }
  }

  .fraction__current {
  }

  .fraction__all {
  }
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;

  @include responsive1549 {
    font-size: 16px;
    line-height: 20px;
  }

  @include responsive767 {
    font-size: 14px;
    line-height: 16px;
  }

  .caption {
  }

  p {
    max-width: 800px;
    width: 100%;
  }
}

.swiper-controls-simple {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: $colorWhite;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  position: relative;
  right: 0;
  top: 0;
  z-index: 3;
  gap: 47px;
  margin: 40px auto 0;

  @include responsive1199 {
    margin-top: 24px;
  }

  @include responsive767 {
    gap: 24px;
  }

  .swiperBtnPrev {
    position: relative;
    width: 45px;
    height: 37px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='47' height='39' viewBox='0 0 47 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 4.98242H0.5V37.9824H30.5V32.9824H9L8.5 31.9824L45.5 1.98242L39 0.982422L6 28.4824L5 27.4824L6 4.98242Z' fill='%233A3A3A' stroke='%233A3A3A'/%3e%3c/svg%3e ");
    transition: all 0.3s;

    @include responsive767 {
      width: 24px;
      height: 19px;
      min-width: 24px;
    }

    @include hover {
      transform: scale(1.1);
    }
  }

  .swiperBtnNext {
    position: relative;
    width: 45px;
    height: 37px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='47' height='39' viewBox='0 0 47 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M41 33.9824H46.5V0.982422H16.5V5.98242H38L38.5 6.98242L1.5 36.9824L8 37.9824L41 10.4824L42 11.4824L41 33.9824Z' fill='%233A3A3A' stroke='%233A3A3A'/%3e%3c/svg%3e ");
    transition: all 0.3s;

    @include responsive767 {
      width: 24px;
      height: 19px;
      min-width: 24px;
    }

    @include hover {
      transform: scale(1.1);
    }
  }

  .swiper-button-disabled {
    opacity: 0.33;
    pointer-events: none;
  }
}

.link-site {
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  text-transform: uppercase;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='18' viewBox='0 0 14 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 2.12484V0.0848433H13.34V12.6548H11.15V6.53484L11.48 4.10484L11.15 3.83484L3.95 8.51484C3.05 9.08484 2.78 9.50484 2.78 10.5848V17.9648H0.53V11.5448C0.53 9.32484 1.67 7.28484 3.53 6.14484L8.42 3.20484L10.37 2.51484L10.16 2.12484H2Z' fill='%233A3A3A'/%3e%3c/svg%3e ");
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 25px;
  @include text-decoration-hover($colorBlack);

  @include responsive1549 {
    font-size: 20px;
    line-height: 24px;
  }

  @include responsive1439 {
    font-size: 18px;
    line-height: 20px;
  }

  @include responsive1199 {
    font-size: 16px;
    line-height: 20px;
  }

  @include responsive767 {
    font-size: 14px;
    line-height: 18px;
  }
}

.marketplace {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 70px;

  @include responsive1549 {
    justify-content: space-between;
    gap: 16px;
  }

  @include responsive1199 {
    gap: 12px;
    margin-top: 50px;
  }

  @include responsive767 {
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    white-space: nowrap;

    @include responsive1549 {
      font-size: 20px;
      line-height: 24px;
    }

    @include responsive1199 {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .marketplace__list {
    display: flex;
    align-items: center;
    gap: 16px;

    @include responsive1023 {
      gap: 15px 12px;
    }

    @include responsive389 {
      flex-wrap: wrap;
    }

    li {
      width: 166px;
      height: 50px;
      background-color: $colorWhite;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border: solid 1px $colorBlack;
      border-radius: 20px;

      @include responsive1549 {
        width: 140px;
        height: 40px;
      }

      @include responsive1199 {
        width: 102px;
        height: 36px;
      }

      img {
        @include responsive1549 {
          width: 70%;
        }
      }

      a {
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all 0.3s;

        @include hover {
          transform: scale(0.95);
        }
      }
    }
  }

  .picture-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      position: relative;
      width: 130px;
      object-fit: contain;
      margin: 0 auto;
      display: block;
    }
  }
}

.big-cat-section {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  height: 1045px;
  position: relative;
  padding-bottom: 0;

  @include responsive1549 {
    height: 750px;
  }

  @include responsive1439 {
    height: 720px;
  }

  @include responsive1199 {
    height: 530px;
  }

  @include responsive1023 {
    height: 410px;
  }

  @include responsive767 {
    height: auto;
    padding-top: calc(170 / 320 * 100%);
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.grecaptcha-badge {
  display: none !important;
}

.icon-marker {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='33' height='49' viewBox='0 0 33 49' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M16.5 0.0175781C12.1239 0.0175781 7.92709 1.75856 4.83274 4.85752C1.73839 7.95648 0 12.1596 0 16.5422C0 25.67 16.5 48.0176 16.5 48.0176C16.5 48.0176 33 25.67 33 16.5422C33 12.1596 31.2616 7.95648 28.1673 4.85752C25.0729 1.75856 20.8761 0.0175781 16.5 0.0175781ZM16.5 22.8372C14.8683 22.8372 13.2732 22.3527 11.9165 21.4448C10.5598 20.5369 9.50246 19.2465 8.87803 17.7368C8.25361 16.2271 8.09021 14.5658 8.40854 12.9631C8.72687 11.3603 9.51263 9.88813 10.6664 8.73263C11.8202 7.57713 13.2902 6.79022 14.8905 6.47142C16.4908 6.15261 18.1497 6.31625 19.6571 6.94161C21.1646 7.56696 22.4531 8.62596 23.3597 9.98469C24.2662 11.3434 24.75 12.9408 24.75 14.575C24.75 16.7663 23.8809 18.8678 22.3337 20.4173C20.7865 21.9668 18.688 22.8372 16.5 22.8372Z' fill='%23CC232A'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 33px;
  height: 48px;
  display: block;
  margin-top: -12px;
}

.btn-up {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='12' viewBox='0 0 22 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.3397 11.5897C20.8759 12.0534 20.124 12.0534 19.6603 11.5897L11 2.92942L2.3396 11.5897C1.87584 12.0534 1.12408 12.0534 0.660319 11.5897C0.19656 11.1259 0.19656 10.3742 0.660319 9.9104L10.1603 0.410351C10.6241 -0.0533924 11.3758 -0.0533924 11.8396 0.410351L21.3397 9.9104C21.8034 10.3742 21.8034 11.1259 21.3397 11.5897Z' fill='white'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
  opacity: 0;
  background-color: #525151;
  transition:
    opacity 0.3s,
    transform 0.3s;
  z-index: 11;

  &.visible {
    opacity: 1;
  }

  &:hover {
    transform: scale(0.9);
  }
}

.market-invis-circle {
  position: fixed;
  bottom: 87px;
  right: 20px;
  width: 72px;
  height: 72px;
  z-index: 10;

  .market-invis-circle__circle {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' width='512' height='512'%3e%3cpath d='M0 0 C1.31866168 -0.00445784 2.63732337 -0.00891569 3.9959445 -0.01350862 C5.45791086 -0.01341933 6.91987723 -0.01322949 8.38184357 -0.01294994 C9.93606931 -0.01625023 11.4902942 -0.01997615 13.04451799 -0.02409142 C17.31791947 -0.03410085 21.5913069 -0.03782652 25.86471844 -0.04048073 C30.47297193 -0.04438694 35.08121434 -0.05396509 39.68946075 -0.0626936 C50.8199037 -0.08244943 61.95034754 -0.09252327 73.08080363 -0.10142139 C78.3241003 -0.10580588 83.56739596 -0.11117229 88.81069183 -0.11641026 C106.24380788 -0.13342194 123.67692331 -0.14791559 141.11004639 -0.155159 C145.63330333 -0.15706885 150.15656027 -0.15898919 154.6798172 -0.16094494 C156.36613946 -0.16167055 156.36613946 -0.16167055 158.08652884 -0.16241082 C176.29366512 -0.1707092 194.50073566 -0.19604318 212.70784324 -0.22852562 C231.40638082 -0.26161244 250.10488501 -0.27960924 268.80345201 -0.28280324 C279.299671 -0.28496687 289.79579413 -0.29369399 300.29198456 -0.31926441 C309.23200061 -0.34099359 318.17189752 -0.34901091 327.11193699 -0.33929763 C331.67052524 -0.33475933 336.22886778 -0.33661177 340.78742218 -0.35605907 C344.96753129 -0.37373728 349.14721627 -0.37265554 353.32733017 -0.35716178 C354.83279082 -0.35479275 356.3382812 -0.35907242 357.84369653 -0.37099043 C372.25085584 -0.47790635 384.98816779 2.06162069 395.70520782 12.20453358 C402.44959257 19.32085131 406.6317781 27.24662742 406.6519289 37.15595818 C406.65638675 38.17429019 406.66084459 39.19262221 406.66543752 40.24181277 C406.66516098 41.91731609 406.66516098 41.91731609 406.66487885 43.62666798 C406.66855553 44.81472174 406.67223222 46.00277551 406.67602032 47.2268309 C406.68513921 50.52583023 406.68975512 53.82477985 406.69240963 57.12378705 C406.69631643 60.68156876 406.70589456 64.23933611 406.7146225 67.79710865 C406.73437725 76.39030062 406.74445227 84.98349375 406.75335029 93.57670274 C406.75773517 97.62532004 406.7631015 101.67393603 406.76833916 105.7225523 C406.78535113 119.18470869 406.79984442 132.64686428 406.8070879 146.10902977 C406.80899774 149.60188326 406.81091808 153.09473675 406.81287384 156.58759022 C406.81335758 157.45570231 406.81384132 158.3238144 406.81433972 159.21823292 C406.82263675 173.27528323 406.84796826 187.33224836 406.88045452 201.38926149 C406.91354945 215.82761139 406.93153889 230.26591804 406.93473214 244.70430607 C406.93689508 252.80833846 406.94561195 260.91224665 406.97119331 269.01624203 C406.99293367 275.91931527 407.00093442 282.82223415 406.99122653 289.72533775 C406.98669131 293.24473709 406.98852207 296.76381817 407.00798798 300.28317356 C407.02569721 304.10667911 407.01860404 307.92938228 407.00545502 311.75288868 C407.02190889 313.40496943 407.02190889 313.40496943 407.03869516 315.09042555 C406.9384699 327.19780462 402.94189904 336.23469732 394.77552032 345.00531483 C386.65423196 352.84016771 376.15464221 356.25098668 365.03541565 356.26844215 C363.05742312 356.27512892 363.05742312 356.27512892 361.03947115 356.28195077 C359.57750478 356.28186148 358.11553842 356.28167164 356.65357208 356.2813921 C355.09934634 356.28469239 353.54512145 356.2884183 351.99089766 356.29253358 C347.71749618 356.302543 343.44410875 356.30626867 339.17069721 356.30892289 C334.56244371 356.3128291 329.95420131 356.32240724 325.3459549 356.33113575 C314.21551195 356.35089159 303.08506811 356.36096543 291.95461202 356.36986354 C286.71131535 356.37424803 281.46801969 356.37961444 276.22472382 356.38485241 C258.79160776 356.40186409 241.35849234 356.41635775 223.92536926 356.42360115 C219.40211232 356.425511 214.87885538 356.42743134 210.35559845 356.42938709 C208.66927619 356.4301127 208.66927619 356.4301127 206.94888681 356.43085297 C188.74175053 356.43915136 170.53467999 356.46448533 152.32757241 356.49696777 C133.62903483 356.5300546 114.93053064 356.5480514 96.23196363 356.55124539 C85.73574465 356.55340902 75.23962152 356.56213615 64.74343109 356.58770657 C55.80341504 356.60943575 46.86351813 356.61745307 37.92347866 356.60773978 C33.36489041 356.60320148 28.80654787 356.60505392 24.24799347 356.62450123 C20.06788436 356.64217944 15.88819938 356.6410977 11.70808548 356.62560394 C10.20262483 356.6232349 8.69713445 356.62751458 7.19171911 356.63943259 C-7.21544019 356.7463485 -19.95275214 354.20682147 -30.66979218 344.06390858 C-37.41417692 336.94759085 -41.59636245 329.02181474 -41.61651325 319.11248398 C-41.6209711 318.09415196 -41.62542894 317.07581995 -41.63002187 316.02662939 C-41.62983751 314.90962717 -41.62965315 313.79262495 -41.6294632 312.64177418 C-41.63313988 311.45372041 -41.63681657 310.26566665 -41.64060467 309.04161125 C-41.64972357 305.74261192 -41.65433947 302.44366231 -41.65699399 299.14465511 C-41.66090078 295.5868734 -41.67047891 292.02910604 -41.67920685 288.4713335 C-41.6989616 279.87814154 -41.70903662 271.28494841 -41.71793464 262.69173941 C-41.72231952 258.64312211 -41.72768585 254.59450612 -41.73292351 250.54588985 C-41.74993548 237.08373346 -41.76442878 223.62157788 -41.77167225 210.15941238 C-41.77358209 206.66655889 -41.77550243 203.1737054 -41.77745819 199.68085194 C-41.7781838 198.3786838 -41.7781838 198.3786838 -41.77892407 197.05020923 C-41.7872211 182.99315892 -41.81255262 168.93619379 -41.84503887 154.87918066 C-41.8781338 140.44083076 -41.89612324 126.00252411 -41.89931649 111.56413609 C-41.90147943 103.4601037 -41.9101963 95.3561955 -41.93577766 87.25220013 C-41.95751802 80.34912688 -41.96551877 73.446208 -41.95581088 66.5431044 C-41.95127566 63.02370506 -41.95310642 59.50462398 -41.97257233 55.98526859 C-41.99028156 52.16176304 -41.98318839 48.33905987 -41.97003937 44.51555347 C-41.98100861 43.41416631 -41.99197786 42.31277914 -42.00327951 41.1780166 C-41.90305425 29.07063753 -37.90648339 20.03374483 -29.74010468 11.26312733 C-21.61881632 3.42827445 -11.11922656 0.01745547 0 0 Z M-19.48229218 25.13422108 C-28.93713459 38.7655928 -25.48229218 53.2357116 -25.48229218 70.13422108 C111.79770782 70.13422108 249.07770782 70.13422108 390.51770782 70.13422108 C392.24885799 44.57810671 392.24885799 44.57810671 382.51770782 23.13422108 C376.65122622 18.26628954 370.35264785 16.88551488 362.84061623 16.87974548 C361.52943923 16.87391329 360.21826224 16.8680811 358.8673526 16.86207217 C357.42423526 16.86570486 355.9811184 16.86952921 354.53800201 16.87352467 C352.99569764 16.87050269 351.45339477 16.86661297 349.91109455 16.8619321 C345.68007103 16.85164934 341.44913222 16.85383463 337.21810174 16.85811269 C332.65222017 16.86057941 328.08635902 16.85156643 323.52048492 16.8440752 C314.57817001 16.83132466 305.63588512 16.82953496 296.69356264 16.83187547 C289.42501945 16.83365839 282.15648537 16.83190953 274.88794327 16.82765102 C273.8535051 16.82705583 272.81906693 16.82646065 271.75328215 16.82584742 C269.65182647 16.82463567 267.55037079 16.82342154 265.44891511 16.82220504 C245.74052581 16.81132813 226.03215362 16.81349271 206.32376336 16.81958989 C188.29512461 16.82475915 170.26653989 16.81350363 152.23791184 16.79449167 C133.72464849 16.77511835 115.21141071 16.76685639 96.69813716 16.77061492 C86.30493891 16.77252774 75.91178664 16.77003155 65.51859665 16.75590038 C56.67074865 16.74399208 47.82297494 16.74257553 38.97512592 16.75469055 C34.4616201 16.76058309 29.94825022 16.76166828 25.43475342 16.74968815 C21.30062986 16.73884258 17.16675595 16.74191689 13.03264414 16.75594983 C11.53943273 16.75860041 10.04620183 16.75621886 8.55300952 16.74821397 C-2.25294202 16.69431836 -11.63154477 16.92662151 -19.48229218 25.13422108 Z M-25.48229218 87.13422108 C-25.52354218 124.56859608 -25.56479218 162.00297108 -25.60729218 200.57172108 C-25.62550018 212.39298817 -25.64370819 224.21425526 -25.66246796 236.39374256 C-25.66915671 246.98756064 -25.66915671 246.98756064 -25.67317963 257.58137989 C-25.67504338 262.3010035 -25.68254026 267.02058214 -25.6934433 271.74019337 C-25.70717107 277.76241707 -25.71127265 283.78457547 -25.70843673 289.80681336 C-25.70902966 292.0156758 -25.71298981 294.22454055 -25.72072244 296.43338954 C-25.73069474 299.42106476 -25.72826309 302.40848749 -25.72280121 305.39616871 C-25.72862654 306.2568398 -25.73445187 307.11751089 -25.74045372 308.00426292 C-25.69246381 317.79550255 -23.87784011 325.53282997 -17.48229218 333.13422108 C-11.61581058 338.00215262 -5.3172322 339.38292728 2.19479942 339.38869667 C3.50597642 339.39452886 4.81715341 339.40036106 6.16806304 339.40636998 C7.61118039 339.40273729 9.05429725 339.39891295 10.49741364 339.39491749 C12.039718 339.39793947 13.58202088 339.40182918 15.1243211 339.40651006 C19.35534462 339.41679281 23.58628343 339.41460752 27.81731391 339.41032946 C32.38319548 339.40786275 36.94905663 339.41687573 41.51493073 339.42436695 C50.45724564 339.4371175 59.39953053 339.4389072 68.34185301 339.43656669 C75.6103962 339.43478376 82.87893028 339.43653262 90.14747238 339.44079113 C91.18191055 339.44138632 92.21634872 339.44198151 93.2821335 339.44259473 C95.38358918 339.44380648 97.48504486 339.44502062 99.58650054 339.44623711 C119.29488984 339.45711402 139.00326203 339.45494944 158.71165229 339.44885226 C176.74029104 339.44368301 194.76887576 339.45493852 212.79750381 339.47395048 C231.31076716 339.4933238 249.82400494 339.50158577 268.33727849 339.49782723 C278.73047674 339.49591441 289.12362901 339.4984106 299.516819 339.51254177 C308.364667 339.52445008 317.21244071 339.52586662 326.06028973 339.5137516 C330.57379555 339.50785907 335.08716543 339.50677387 339.60066223 339.51875401 C343.73478579 339.52959958 347.8686597 339.52652526 352.00277151 339.51249232 C353.49598292 339.50984174 354.98921382 339.51222329 356.48240612 339.52022818 C365.92371583 339.56731753 373.73666648 339.26028657 381.76770782 334.00922108 C389.82114957 325.5897138 390.67564195 316.84608708 390.63796234 305.63667774 C390.63881836 304.70189594 390.63967438 303.76711414 390.64055634 302.80400562 C390.64220701 299.67260276 390.63669521 296.54125379 390.63123322 293.40985584 C390.63092679 291.1261972 390.63106052 288.84253846 390.63159847 286.55887985 C390.63182409 280.4472744 390.62603114 274.33568855 390.61898804 268.22408772 C390.61329018 262.48771065 390.61302475 256.75133833 390.61231232 251.01495838 C390.60706645 234.24221002 390.59310528 217.4694653 390.58020782 200.69672108 C390.55958282 163.22109608 390.53895782 125.74547108 390.51770782 87.13422108 C253.23770782 87.13422108 115.95770782 87.13422108 -25.48229218 87.13422108 Z ' fill='%23fff' transform='translate(73.48229217529297,77.86577892303467)'/%3e%3cpath d='M0 0 C1.20204575 -0.00642769 1.20204575 -0.00642769 2.42837524 -0.01298523 C4.12118588 -0.01871928 5.81402116 -0.0192356 7.50683594 -0.01489258 C10.0857185 -0.01173813 12.66344713 -0.03518302 15.2421875 -0.06054688 C16.89062356 -0.06282065 18.53906269 -0.063523 20.1875 -0.0625 C20.9533139 -0.07170975 21.71912781 -0.08091949 22.50814819 -0.09040833 C28.52814101 -0.03885887 32.41768772 1.65158498 37.3515625 5.17578125 C44.14211497 14.11071871 47.7265625 32.1520623 47.7265625 43.30078125 C48.64354982 43.29801587 49.56053715 43.29525049 50.50531197 43.29240131 C72.81411945 43.22615813 95.12291 43.17650875 117.43179512 43.14534473 C128.220191 43.12987361 139.00852125 43.10877935 149.796875 43.07446289 C159.19962796 43.04456811 168.60233339 43.02520803 178.00513256 43.01851577 C182.98418555 43.01460366 187.96310255 43.00540446 192.94211197 42.98359108 C197.6288113 42.96322474 202.31531865 42.95694777 207.00205803 42.96145821 C208.7217596 42.96063307 210.44146761 42.9546683 212.16113091 42.94316483 C214.51082363 42.92821821 216.85979339 42.93183526 219.20950317 42.9400177 C221.18121837 42.93586963 221.18121837 42.93586963 223.19276619 42.93163776 C228.66739935 43.50352278 232.57536847 45.54351851 236.0390625 49.80078125 C236.53019531 50.38859375 237.02132812 50.97640625 237.52734375 51.58203125 C240.71132202 56.14538772 240.25345849 62.04183721 239.39858246 67.32939529 C238.93974225 69.33114991 238.41770398 71.30267314 237.86230469 73.27978516 C237.56470497 74.39142784 237.56470497 74.39142784 237.26109314 75.52552795 C236.6098231 77.94602071 235.9422243 80.3616376 235.2734375 82.77734375 C234.81147821 84.47387526 234.35024775 86.17060538 233.88970947 87.86752319 C232.92515416 91.41145139 231.95260284 94.95305645 230.97412109 98.49316406 C229.72457702 103.01605554 228.49401846 107.54385136 227.26926804 112.07351112 C226.32074069 115.57403513 225.36275981 119.07191756 224.40189362 122.56907272 C223.94465874 124.23717349 223.49018324 125.9060333 223.03859711 127.57567215 C222.40466808 129.91336594 221.75819818 132.24724167 221.10839844 134.58056641 C220.92641403 135.26126694 220.74442963 135.94196747 220.55693054 136.64329529 C218.58537439 143.61754645 215.83095348 149.12409269 209.7265625 153.30078125 C207.07611635 154.62600433 205.07365053 154.435793 202.10432434 154.44795227 C200.9084671 154.45510757 199.71260986 154.46226288 198.48051453 154.46963501 C197.16154678 154.47232391 195.84257904 154.47501282 194.48364258 154.4777832 C193.0858544 154.48404715 191.68806788 154.49069389 190.2902832 154.49769592 C186.48633974 154.51511486 182.68240885 154.52566066 178.87843537 154.53390145 C176.50140493 154.53905099 174.12437838 154.54512683 171.74735069 154.55141258 C164.30908428 154.57046939 156.87082781 154.58469802 149.43254167 154.59302455 C140.84876833 154.60279198 132.2652532 154.62909635 123.68157083 154.66952544 C117.04622963 154.69970402 110.41096237 154.71449517 103.77555388 154.71780556 C99.81310591 154.72015458 95.85093363 154.72909489 91.88855934 154.75426674 C88.15795072 154.77758244 84.42779858 154.78176693 80.69713593 154.77150536 C78.68146858 154.77077549 76.66582424 154.78984334 74.6502533 154.80957031 C67.83096503 154.77043511 63.11154223 154.68373454 57.7265625 150.30078125 C54.29154736 146.15895485 52.82979175 142.04151926 51.68701172 136.86645508 C51.51699992 136.14385687 51.34698812 135.42125866 51.17182446 134.67676353 C50.61325924 132.28966452 50.07225638 129.89894658 49.53125 127.5078125 C49.13881262 125.81528533 48.74527074 124.12301391 48.35069275 122.4309845 C47.302642 117.92328717 46.26953362 113.41229016 45.23944473 108.90045929 C44.17822104 104.26352282 43.10359674 99.62969659 42.0300293 94.99560547 C40.34695233 87.72431819 38.6711084 80.4514048 37.00048828 73.17724609 C35.10759538 64.93828827 33.19067754 56.70533153 31.25390625 48.4765625 C30.77684211 46.44621082 30.29979055 44.41585619 29.82275391 42.38549805 C29.18780879 39.68391928 28.55243095 36.98244838 27.91522217 34.28140259 C27.35565732 31.90578195 26.8002387 29.52923346 26.24609375 27.15234375 C25.94807861 25.88213379 25.65006348 24.61192383 25.34301758 23.30322266 C24.7265625 20.30078125 24.7265625 20.30078125 24.7265625 17.30078125 C23.71754883 17.32172852 22.70853516 17.34267578 21.66894531 17.36425781 C17.91941563 17.4367491 14.16994768 17.48261345 10.41992188 17.52050781 C8.79807107 17.54060269 7.17629253 17.56788379 5.5546875 17.60253906 C3.2211727 17.65115395 0.88861693 17.67377014 -1.4453125 17.69140625 C-2.52990753 17.72237396 -2.52990753 17.72237396 -3.63641357 17.75396729 C-7.0517897 17.75548384 -8.93055315 17.55509058 -11.70800781 15.49511719 C-13.88599335 12.44213309 -14.14076587 10.01558688 -14.2734375 6.30078125 C-13.51319241 3.74359322 -12.88730186 2.7270387 -10.70849609 1.21411133 C-7.1815172 -0.10877097 -3.71705638 -0.00440047 0 0 Z M52.7265625 60.30078125 C53.36470105 66.04402821 53.99817681 71.04340844 55.30883789 76.56469727 C55.4675534 77.23981071 55.6262689 77.91492414 55.78979397 78.61049557 C56.29632743 80.75976427 56.81007331 82.90722862 57.32421875 85.0546875 C57.64139272 86.39567852 57.95808494 87.73678358 58.27429199 89.07800293 C59.44006626 94.00780797 60.61510755 98.9354179 61.7890625 103.86328125 C64.4084375 114.89765625 67.0278125 125.93203125 69.7265625 137.30078125 C113.2865625 137.30078125 156.8465625 137.30078125 201.7265625 137.30078125 C204.88826658 127.18332819 207.9572509 117.12461395 210.71484375 106.90234375 C211.06622594 105.60715518 211.41780815 104.31202086 211.76957703 103.01693726 C212.49491473 100.34385002 213.2181378 97.67020326 213.93969727 94.99609375 C214.86494975 91.567654 215.79534032 88.14063241 216.72720051 84.71398354 C217.62144422 81.42328705 218.51175867 78.13153232 219.40234375 74.83984375 C219.73663895 73.60980621 220.07093414 72.37976868 220.4153595 71.11245728 C220.71955307 69.98302704 221.02374664 68.8535968 221.3371582 67.68994141 C221.74089409 66.19679916 221.74089409 66.19679916 222.15278625 64.67349243 C222.80491186 62.38363695 222.80491186 62.38363695 222.7265625 60.30078125 C166.6265625 60.30078125 110.5265625 60.30078125 52.7265625 60.30078125 Z ' fill='%23fff' transform='translate(143.2734375,176.69921875)'/%3e%3cpath d='M0 0 C1.00795074 -0.00445668 1.00795074 -0.00445668 2.03626412 -0.0090034 C4.29861786 -0.01770786 6.56091879 -0.01920012 8.82328796 -0.02069092 C10.44106663 -0.02531788 12.0588442 -0.03034237 13.67662048 -0.03573608 C18.07958949 -0.04887436 22.48254325 -0.05530789 26.8855288 -0.05974674 C29.63508514 -0.06267534 32.38463728 -0.06677975 35.13419151 -0.07125092 C43.73323368 -0.08492997 52.33226629 -0.09459447 60.93131858 -0.09845281 C70.86436751 -0.10293389 80.79727885 -0.12048238 90.73028594 -0.1494534 C98.40337988 -0.17105766 106.07643507 -0.18115643 113.7495591 -0.18249393 C118.33451031 -0.18354291 122.91933225 -0.18947047 127.50425148 -0.20731354 C131.8175394 -0.22377242 136.13060059 -0.2259604 140.44390869 -0.21717453 C142.02696018 -0.21640296 143.61002375 -0.2207626 145.19304466 -0.23063278 C147.354716 -0.24332022 149.51558049 -0.23749365 151.67724609 -0.22705078 C153.4915863 -0.22925062 153.4915863 -0.22925062 155.34257984 -0.2314949 C158.84342891 0.17713116 160.72786362 1.03776052 163.52909851 3.14044189 C165.09610293 6.27445074 165.38074412 9.77199285 164.52909851 13.14044189 C160.64808386 17.01605951 158.02706912 17.64169543 152.61477661 17.64837646 C151.93137351 17.65461643 151.2479704 17.66085639 150.54385811 17.66728544 C148.2605081 17.6832037 145.97822738 17.67061693 143.69487 17.65802002 C142.05531696 17.66344165 140.4157688 17.67056454 138.77622986 17.67926025 C134.32793054 17.69749038 129.88000244 17.69042781 125.43169665 17.67774391 C120.77706575 17.66761633 116.12246662 17.67700876 111.46783447 17.68328857 C103.65234164 17.69056496 95.83700003 17.68097675 88.02153015 17.66192627 C78.98334184 17.64014991 69.94551434 17.64721442 60.90733474 17.66923189 C53.14839316 17.68737707 45.38956027 17.68994877 37.63060433 17.67947721 C32.99597988 17.6732384 28.36152512 17.67241744 23.72691154 17.68562317 C19.37080341 17.69716852 15.01516114 17.68918029 10.65910339 17.66604614 C9.05951779 17.6607523 7.45989304 17.66228439 5.86032295 17.6710968 C3.67849641 17.68200985 1.49816756 17.66834282 -0.68356323 17.64837646 C-2.51556448 17.64611431 -2.51556448 17.64611431 -4.38457584 17.64380646 C-8.08787681 17.03981625 -9.24304807 16.10915802 -11.47090149 13.14044189 C-12.47090149 9.70294189 -12.47090149 9.70294189 -12.47090149 6.14044189 C-8.88930315 0.4592859 -6.45941775 0.01590047 0 0 Z ' fill='%23fff' transform='translate(259.4709014892578,112.85955810546875)'/%3e%3cpath d='M0 0 C7.22090775 4.02105451 11.57798312 9.52886534 14.15625 17.37109375 C15.74425503 24.58328325 15.05676818 31.93487826 11.625 38.5 C6.72442954 45.48472112 1.4412704 50.24928321 -6.97265625 52.05859375 C-15.36157552 53.20307359 -22.489709 51.63883465 -29.625 47.0625 C-35.45923972 42.24806641 -38.80946124 35.5522488 -39.84765625 28.11328125 C-40.11224401 18.20849601 -38.08036629 11.53761984 -31.34765625 4.26171875 C-22.5747711 -3.57307571 -10.53904363 -4.85506504 0 0 Z M-20.375 17.5 C-22.83641247 21.1921187 -23.06150207 24.21354805 -22.375 28.5 C-20.3054903 31.89990879 -18.25543157 34.3586966 -14.375 35.5 C-10.25897549 35.41242501 -8.70566938 34.78658013 -5.5625 32.0625 C-3.21974835 29.31813378 -2.48118851 28.27871576 -2 24.75 C-2.5221599 20.2246142 -4.21729378 18.7328897 -7.375 15.5 C-12.17530139 13.09984931 -16.28131564 14.42973673 -20.375 17.5 Z ' fill='%23fff' transform='translate(250.375,352.5)'/%3e%3cpath d='M0 0 C6.71021213 4.96195763 10.42558329 11.76806035 11.875 19.9375 C12.48303816 27.7952239 10.45080019 34.60762869 5.83203125 40.95703125 C0.88036334 46.47882724 -5.54884961 50.33148557 -13 51 C-21.18585808 51.21577221 -28.71001016 48.87453819 -34.85546875 43.32421875 C-40.08481687 37.50091998 -42.64039399 31.58497666 -43.25 23.8125 C-42.65252561 14.70101551 -39.85607935 8.12149942 -33 2 C-22.89815359 -5.57638481 -11.12153278 -6.41480901 0 0 Z M-24 17 C-26.03640233 19.68434853 -25.99994332 21.00311739 -25.9375 24.4375 C-24.80648509 28.73535664 -23.52776718 30.33457591 -20 33 C-16.28531588 34.26457332 -14.54084542 34.18028181 -10.8125 32.9375 C-7.40019535 30.58680124 -6.30603859 28.91811578 -5 25 C-5 20.81688816 -5.67746719 19.37215325 -8.4375 16.1875 C-11.22946532 13.80411497 -12.20616342 13.08820406 -15.8125 12.6875 C-19.77698767 13.07617526 -21.21158832 14.21158832 -24 17 Z ' fill='%23fff' transform='translate(328,354)'/%3e%3c/svg%3e");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 58%;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #525151;
    display: flex;

    &:hover {
      & + ul {
        transform: scale(1);
        opacity: 1;
        pointer-events: initial;
      }
    }
  }

  .market-invis-circle__link {
    width: 60px;
    height: 60px;
  }

  ul {
    position: absolute;
    width: 162px;
    height: 187px;
    bottom: -20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    transition:
      transform 0.5s,
      opacity 0.2s;
    transform: scale(0);
    transform-origin: right calc(100% - 50px);
    opacity: 0;
    pointer-events: none;

    &:hover {
      transform: scale(1);
      opacity: 1;
      pointer-events: initial;
    }

    li {
      position: relative;

      &:nth-child(1) {
        margin-left: auto;
        top: 10px;
        right: -20px;
      }

      &:nth-child(2) {
        top: -8px;
        left: 38px;
      }

      &:nth-child(3) {
        top: 15px;
        left: 25px;
      }

      a {
        width: 60px;
        height: 60px;
        position: relative;
        display: block;
        transition: transform 0.3s;
        border-radius: 15px;
        overflow: hidden;

        .picture-block {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          img {
            object-fit: cover;
          }
        }

        @include hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

// стрелки для брендов, разные цвета

.brand-gurman {
  .brand__header-heading {
    h1 {
      text-transform: none;
    }
  }

  .brand__header-img {
    &::before {
      @include responsive767 {
        height: 99%;
      }
    }
  }

  .swiper-controls-simple {
    .swiperBtnPrev {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='47' height='39' viewBox='0 0 47 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 5H0.5V38H30.5V33H9L8.5 32L45.5 2L39 1L6 28.5L5 27.5L6 5Z' fill='%23EE3532' stroke='%23EE3532'/%3e%3c/svg%3e ");
    }

    .swiperBtnNext {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='47' height='39' viewBox='0 0 47 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M41 34H46.5V1H16.5V6H38L38.5 7L1.5 37L8 38L41 10.5L42 11.5L41 34Z' fill='%23EE3532' stroke='%23EE3532'/%3e%3c/svg%3e ");
    }

    .swiper-button-disabled {
      filter: brightness(0);
    }
  }

  .brands__adv-block {
    .brand-adv {
      background-color: #525151;
      color: $colorWhite;

      .brand-adv__content {
        color: $colorWhite;
      }
    }
  }

  .brand-adv {
    background-color: #525151;
    color: $colorWhite;

    .brand-adv__content {
      color: $colorWhite;
    }
  }
}

// нет класса на бэке
.brand-vkusmyasina {
  .swiper-controls-simple {
    .swiperBtnPrev {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='47' height='39' viewBox='0 0 47 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 5H0.5V38H30.5V33H9L8.5 32L45.5 2L39 1L6 28.5L5 27.5L6 5Z' fill='%23E73579' stroke='%23E73579'/%3e%3c/svg%3e ");
    }

    .swiperBtnNext {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='47' height='39' viewBox='0 0 47 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M41 34H46.5V1H16.5V6H38L38.5 7L1.5 37L8 38L41 10.5L42 11.5L41 34Z' fill='%23E73579' stroke='%23E73579'/%3e%3c/svg%3e ");
    }

    .swiper-button-disabled {
      filter: brightness(0);
    }
  }
}
// нет класса на бэке

.brand-zoodiet {
  .swiper-controls-simple {
    .swiperBtnPrev {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='47' height='39' viewBox='0 0 47 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 5H0.5V38H30.5V33H9L8.5 32L45.5 2L39 1L6 28.5L5 27.5L6 5Z' fill='%233D8E21' stroke='%233D8E21'/%3e%3c/svg%3e ");
    }

    .swiperBtnNext {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='47' height='39' viewBox='0 0 47 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M41 34H46.5V1H16.5V6H38L38.5 7L1.5 37L8 38L41 10.5L42 11.5L41 34Z' fill='%233D8E21' stroke='%233D8E21'/%3e%3c/svg%3e ");
    }

    .swiper-button-disabled {
      filter: brightness(0);
    }
  }
}

.brand-brunch {
  .swiper-controls-simple {
    .swiperBtnPrev {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='47' height='39' viewBox='0 0 47 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 5H0.5V38H30.5V33H9L8.5 32L45.5 2L39 1L6 28.5L5 27.5L6 5Z' fill='%238C6A91' stroke='%238C6A91'/%3e%3c/svg%3e ");
    }

    .swiperBtnNext {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='47' height='39' viewBox='0 0 47 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M41 34H46.5V1H16.5V6H38L38.5 7L1.5 37L8 38L41 10.5L42 11.5L41 34Z' fill='%238C6A91' stroke='%238C6A91'/%3e%3c/svg%3e ");
    }

    .swiper-button-disabled {
      filter: brightness(0);
    }
  }

  .brand-adv {
    color: $colorWhite;
    background-color: #8c6a91;

    .brand-adv__content {
      color: $colorWhite;
    }
  }
}

.brand-petibon {
  .swiper-controls-simple {
    .swiperBtnPrev {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='47' height='39' viewBox='0 0 47 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 5H0.5V38H30.5V33H9L8.5 32L45.5 2L39 1L6 28.5L5 27.5L6 5Z' fill='%23F59329' stroke='%23F59329'/%3e%3c/svg%3e ");
    }

    .swiperBtnNext {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='47' height='39' viewBox='0 0 47 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M41 34H46.5V1H16.5V6H38L38.5 7L1.5 37L8 38L41 10.5L42 11.5L41 34Z' fill='%23F59329' stroke='%23F59329'/%3e%3c/svg%3e ");
    }

    .swiper-button-disabled {
      filter: brightness(0);
    }
  }
}

.brand-ekonorm {
  .swiper-controls-simple {
    .swiperBtnPrev {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='47' height='39' viewBox='0 0 47 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6 5H0.5V38H30.5V33H9L8.5 32L45.5 2L39 1L6 28.5L5 27.5L6 5Z' fill='%23B3CA53' stroke='%23B3CA53'/%3e%3c/svg%3e ");
    }

    .swiperBtnNext {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='47' height='39' viewBox='0 0 47 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M41 34H46.5V1H16.5V6H38L38.5 7L1.5 37L8 38L41 10.5L42 11.5L41 34Z' fill='%23B3CA53' stroke='%23B3CA53'/%3e%3c/svg%3e ");
    }

    .swiper-button-disabled {
      filter: brightness(0);
    }
  }

  .brand-adv {
    background-color: #f5f5f5;
  }
}

// /стрелки для брендов, разные цвета

.catalog-result-page {
  .result-catalog__head {
    width: 100%;
  }

  .catalog-content {
    width: 100%;
  }

  .small-title {
    font-weight: 400;
  }
}

.result-catalog__list {
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  padding-left: 10px;
  margin-top: 50px;

  @include responsive767 {
    margin-top: 12px;
  }
}

.coop-page {
  background-color: #f5f5f5;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 2px 0px rgba(255, 255, 255, 0.6);
  }
  50% {
    box-shadow: 0 0 5px 8px rgba(255, 255, 255, 1);
  }
  100% {
    box-shadow: 0 0 2px 0px rgba(255, 255, 255, 0.6);
  }
}

@keyframes pulseGeografy {
  0% {
    box-shadow: 0 0 2px 0px rgba(204, 35, 42, 0.05);
  }
  50% {
    box-shadow: 0 0 5px 8px rgba(204, 35, 42, 0.3);
  }
  100% {
    box-shadow: 0 0 2px 0px rgba(204, 35, 42, 0.05);
  }
}

@keyframes pulseScaleFade {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  60% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulseScaleFade2 {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.notification-cookie {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  padding: 25px;
  background-color: #fff;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.11);
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;

  @include responsive767 {
    width: calc(100% - 40px);
    font-size: 14px;
    line-height: 18px;
    gap: 20px;
    padding: 20px;
  }

  @include responsive389 {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 15px;
    padding: 15px;
  }

  .notification-cookie__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    color: $colorBlack;

    @include responsive389 {
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  }

  .notification-cookie__link {
    font-size: 14px;
    line-height: 20px;
    text-decoration: underline;
    transition: text-decoration 0.3s;

    @include responsive767 {
      font-size: 12px;
    }

    &:hover {
      text-decoration-color: transparent;
    }
  }

  .notification-cookie__btn {
    width: 190px;
    height: 48px;
    border-radius: 12px;
    transition: opacity 0.3s;
    font-weight: 600;
    font-size: 18px;

    @include responsive767 {
      font-size: 16px;
    }

    &:hover {
      opacity: 0.85;
    }
  }
}
