.header {
  color: $colorWhite;
  padding: 18px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  transition: all 0.3s;
  background: linear-gradient(
    321.91deg,
    rgba(0, 0, 0, 0) 20.94%,
    rgba(0, 0, 0, 0.5) 77.05%
  );

  @include responsive767 {
    background: linear-gradient(
      1.55deg,
      rgba(0, 0, 0, 0) 1.38%,
      rgba(0, 0, 0, 0.5) 98.74%
    );
  }

  &.fixed {
    background-color: #3a3a3a;

    .header__inner {
      & > .header-markets {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}

.header__inner {
  position: relative;
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-link-animals {
  display: flex;
  align-items: center;
  gap: 15px;

  .header-link {
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    transition: all 0.3s;

    @include hover {
      transform: scale(0.95);
      color: $colorRed;
    }
  }

  .header-link--cat {
    @include responsive767 {
      color: transparent;
      white-space: nowrap;
      width: 24px;
      height: 24px;
      overflow: hidden;
    }

    @include before {
      position: relative;
      width: 24px;
      height: 24px;
      min-width: 24px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.000631332 18.1249C0.232969 15.1842 4.14653 14.2037 5.79413 16.1936C8.38332 19.3202 5.79902 24.298 8.34666 26.654C8.35414 26.5745 8.36101 26.4979 8.36651 26.4256C8.56357 23.8022 9.23798 21.6294 10.3708 19.2565C10.8639 18.2247 12.2793 15.1392 13.6857 13.928C15.055 12.7481 17.1648 11.3407 19.8497 10.9094C19.8497 10.9094 20.1692 9.9751 20.5163 9.4207C20.8633 8.8663 21.2651 8.14754 21.3198 7.60344C21.3743 7.05917 21.2742 6.44311 21.3564 6.01185C21.3564 6.01185 21.0275 5.61151 20.9547 5.39579C20.8815 5.18025 20.8907 5.05693 20.8178 4.89274C20.7446 4.72838 19.868 2.70588 20.3519 2.47986C20.836 2.25401 21.1557 2.36685 21.9135 2.87007C22.6713 3.37329 23.1007 3.45521 23.3381 3.45521C23.3381 3.45521 24.0959 2.63392 25.7397 2.57759C25.7397 2.57759 26.1645 1.73035 26.3562 1.29926C26.5479 0.868006 26.8766 0.0516906 27.1507 0.00549052C27.4244 -0.0405379 27.5068 0.190293 27.6438 1.17612C27.7808 2.16161 27.7535 2.82387 27.863 3.02413C27.9725 3.22438 28.1234 3.74804 28.1917 3.84061C28.2446 3.91206 28.7648 4.58342 28.8516 5.66853C29.4487 5.39029 30.0613 5.1471 30.6866 4.96522C30.6986 4.96178 30.7033 4.98171 30.6918 4.98566C30.0735 5.20945 29.4597 5.44199 28.8548 5.70614C28.857 5.73791 28.8585 5.7702 28.86 5.80283C29.1979 5.68313 29.5659 5.66801 29.9169 5.6821C30.4031 5.7015 30.8887 5.7915 31.3635 5.90794C31.3734 5.91035 31.369 5.92666 31.3592 5.92477C30.9084 5.84027 30.4581 5.75732 30.0008 5.73053C29.6233 5.70837 29.2281 5.72177 28.8617 5.84148C28.8632 5.88321 28.8641 5.92529 28.8641 5.96788C29.471 5.92392 30.0756 6.1271 30.6495 6.32632C30.6567 6.3289 30.6538 6.34127 30.6465 6.33903C30.061 6.17381 29.4719 5.97441 28.8637 5.9988C28.8631 6.12091 28.8563 6.24732 28.843 6.37802C29.5023 6.42748 30.1343 6.63357 30.6828 7.05642C31.2266 7.47583 31.6455 8.06973 31.9988 8.68802C32.004 8.6973 31.991 8.70554 31.9857 8.69661C31.6215 8.08794 31.2057 7.51138 30.6653 7.09043C30.1253 6.66999 29.4895 6.4663 28.8395 6.41598C28.8285 6.51507 28.8137 6.61658 28.7945 6.72014C28.7945 6.72014 28.7896 6.73766 28.7819 6.76737C29.543 7.09919 30.2033 7.69086 30.6818 8.44122C30.6865 8.44861 30.6756 8.4584 30.6703 8.45118C30.1615 7.72606 29.5234 7.14813 28.7719 6.80739C28.7615 6.84946 28.7488 6.90408 28.7361 6.96505C29.0207 7.08785 29.2816 7.27866 29.5277 7.48098C29.5366 7.48802 29.5286 7.50451 29.519 7.49781C29.2636 7.31765 29.007 7.13079 28.7277 7.00576C28.6976 7.1581 28.6715 7.3386 28.6849 7.45951C28.7123 7.70597 28.671 8.09086 28.6987 9.29223C28.7259 10.4933 28.7123 10.9247 29.0137 12.0795C29.3149 13.2349 29.5477 13.6352 29.3285 15.1136C29.1095 16.592 28.0863 18.8407 27.5775 20.3961C27.0685 21.9518 26.6165 23.5688 26.4659 25.2012C26.3153 26.8339 26.1783 27.2495 26.1237 27.6809C26.0686 28.1122 26.0961 28.7282 26.2057 28.9745C26.3154 29.221 26.3703 29.4673 26.5209 29.4825C26.6713 29.498 27.4113 29.3749 27.5208 29.9449C27.6303 30.5147 27.5619 31.0844 27.0824 31.1616C26.6277 31.2347 25.9386 31.266 25.7638 31.0585C25.7563 31.0497 25.7504 31.04 25.745 31.03C25.8312 31.2129 26.1303 31.927 25.8086 32.1318C25.2952 32.4589 24.977 32.4795 24.4003 32.4878C24.0588 32.4923 23.4293 32.5276 23.206 32.1625C22.9047 31.6696 22.6171 31.223 22.6171 31.223L22.4391 30.8531C22.4391 30.8531 21.9092 31.1181 21.2993 31.3464C21.5982 31.5816 21.4672 32.1029 21.2142 32.3179C20.5308 32.8983 19.6576 32.8258 18.8578 32.6712C17.8012 32.4665 16.8137 32.1395 15.7331 32.0514C15.0471 31.9954 13.7574 32.1936 12.8665 31.8736C12.2559 31.8635 11.69 31.8357 11.3079 31.7769C10.4253 31.7864 9.49185 31.5509 8.69723 31.3043C4.51314 30.0055 3.80482 26.1924 4.48595 21.7745C4.65413 20.6844 4.61579 18.861 4.12316 17.8822C3.66841 16.9786 1.9012 16.8127 1.55582 17.973C1.27888 18.9024 2.56568 19.4013 2.12009 20.3396C1.87813 20.8495 1.57873 20.9192 1.28193 20.7459C0.611036 20.3543 -0.0461121 18.7219 0.000631332 18.1249ZM24.9726 30.422C24.7396 30.2989 24.5206 29.5287 24.5206 29.5287C24.5068 30.422 24.9726 30.422 24.9726 30.422Z' fill='white'/%3e%3c/svg%3e ");
      background-size: contain;
    }

    @include hover {
      &::before {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='33' viewBox='0 0 32 33' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.000631332 18.1249C0.232969 15.1842 4.14653 14.2037 5.79413 16.1936C8.38332 19.3202 5.79902 24.298 8.34666 26.654C8.35414 26.5745 8.36101 26.4979 8.36651 26.4256C8.56357 23.8022 9.23798 21.6294 10.3708 19.2565C10.8639 18.2247 12.2793 15.1392 13.6857 13.928C15.055 12.7481 17.1648 11.3407 19.8497 10.9094C19.8497 10.9094 20.1692 9.9751 20.5163 9.4207C20.8633 8.8663 21.2651 8.14754 21.3198 7.60344C21.3743 7.05917 21.2742 6.44311 21.3564 6.01185C21.3564 6.01185 21.0275 5.61151 20.9547 5.39579C20.8815 5.18025 20.8907 5.05693 20.8178 4.89274C20.7446 4.72838 19.868 2.70588 20.3519 2.47986C20.836 2.25401 21.1557 2.36685 21.9135 2.87007C22.6713 3.37329 23.1007 3.45521 23.3381 3.45521C23.3381 3.45521 24.0959 2.63392 25.7397 2.57759C25.7397 2.57759 26.1645 1.73035 26.3562 1.29926C26.5479 0.868006 26.8766 0.0516906 27.1507 0.00549052C27.4244 -0.0405379 27.5068 0.190293 27.6438 1.17612C27.7808 2.16161 27.7535 2.82387 27.863 3.02413C27.9725 3.22438 28.1234 3.74804 28.1917 3.84061C28.2446 3.91206 28.7648 4.58342 28.8516 5.66853C29.4487 5.39029 30.0613 5.1471 30.6866 4.96522C30.6986 4.96178 30.7033 4.98171 30.6918 4.98566C30.0735 5.20945 29.4597 5.44199 28.8548 5.70614C28.857 5.73791 28.8585 5.7702 28.86 5.80283C29.1979 5.68313 29.5659 5.66801 29.9169 5.6821C30.4031 5.7015 30.8887 5.7915 31.3635 5.90794C31.3734 5.91035 31.369 5.92666 31.3592 5.92477C30.9084 5.84027 30.4581 5.75732 30.0008 5.73053C29.6233 5.70837 29.2281 5.72177 28.8617 5.84148C28.8632 5.88321 28.8641 5.92529 28.8641 5.96788C29.471 5.92392 30.0756 6.1271 30.6495 6.32632C30.6567 6.3289 30.6538 6.34127 30.6465 6.33903C30.061 6.17381 29.4719 5.97441 28.8637 5.9988C28.8631 6.12091 28.8563 6.24732 28.843 6.37802C29.5023 6.42748 30.1343 6.63357 30.6828 7.05642C31.2266 7.47583 31.6455 8.06973 31.9988 8.68802C32.004 8.6973 31.991 8.70554 31.9857 8.69661C31.6215 8.08794 31.2057 7.51138 30.6653 7.09043C30.1253 6.66999 29.4895 6.4663 28.8395 6.41598C28.8285 6.51507 28.8137 6.61658 28.7945 6.72014C28.7945 6.72014 28.7896 6.73766 28.7819 6.76737C29.543 7.09919 30.2033 7.69086 30.6818 8.44122C30.6865 8.44861 30.6756 8.4584 30.6703 8.45118C30.1615 7.72606 29.5234 7.14813 28.7719 6.80739C28.7615 6.84946 28.7488 6.90408 28.7361 6.96505C29.0207 7.08785 29.2816 7.27866 29.5277 7.48098C29.5366 7.48802 29.5286 7.50451 29.519 7.49781C29.2636 7.31765 29.007 7.13079 28.7277 7.00576C28.6976 7.1581 28.6715 7.3386 28.6849 7.45951C28.7123 7.70597 28.671 8.09086 28.6987 9.29223C28.7259 10.4933 28.7123 10.9247 29.0137 12.0795C29.3149 13.2349 29.5477 13.6352 29.3285 15.1136C29.1095 16.592 28.0863 18.8407 27.5775 20.3961C27.0685 21.9518 26.6165 23.5688 26.4659 25.2012C26.3153 26.8339 26.1783 27.2495 26.1237 27.6809C26.0686 28.1122 26.0961 28.7282 26.2057 28.9745C26.3154 29.221 26.3703 29.4673 26.5209 29.4825C26.6713 29.498 27.4113 29.3749 27.5208 29.9449C27.6303 30.5147 27.5619 31.0844 27.0824 31.1616C26.6277 31.2347 25.9386 31.266 25.7638 31.0585C25.7563 31.0497 25.7504 31.04 25.745 31.03C25.8312 31.2129 26.1303 31.927 25.8086 32.1318C25.2952 32.4589 24.977 32.4795 24.4003 32.4878C24.0588 32.4923 23.4293 32.5276 23.206 32.1625C22.9047 31.6696 22.6171 31.223 22.6171 31.223L22.4391 30.8531C22.4391 30.8531 21.9092 31.1181 21.2993 31.3464C21.5982 31.5816 21.4672 32.1029 21.2142 32.3179C20.5308 32.8983 19.6576 32.8258 18.8578 32.6712C17.8012 32.4665 16.8137 32.1395 15.7331 32.0514C15.0471 31.9954 13.7574 32.1936 12.8665 31.8736C12.2559 31.8635 11.69 31.8357 11.3079 31.7769C10.4253 31.7864 9.49185 31.5509 8.69723 31.3043C4.51314 30.0055 3.80482 26.1924 4.48595 21.7745C4.65413 20.6844 4.61579 18.861 4.12316 17.8822C3.66841 16.9786 1.9012 16.8127 1.55582 17.973C1.27888 18.9024 2.56568 19.4013 2.12009 20.3396C1.87813 20.8495 1.57873 20.9192 1.28193 20.7459C0.611036 20.3543 -0.0461121 18.7219 0.000631332 18.1249ZM24.9726 30.422C24.7396 30.2989 24.5206 29.5287 24.5206 29.5287C24.5068 30.422 24.9726 30.422 24.9726 30.422Z' fill='%23CC232A'/%3e%3c/svg%3e ");
      }
    }
  }

  .header-link--dog {
    @include responsive767 {
      color: transparent;
      white-space: nowrap;
      width: 24px;
      height: 24px;
      overflow: hidden;
    }

    @include before {
      position: relative;
      width: 24px;
      height: 24px;
      min-width: 24px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='29' height='36' viewBox='0 0 29 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M27.3211 5.57964C27.8227 5.07516 28.921 3.41164 28.9754 2.90716C29.0295 2.40267 29.0024 2.20265 28.8127 1.99354C28.8127 1.99354 28.7991 1.48219 28.5619 1.12092C28.3245 0.759643 28.0398 0.520962 28.0398 0.520962C28.0398 0.520962 27.7754 -0.0448771 27.389 0.00285904C27.0026 0.0505952 26.5958 0.520962 26.5958 0.520962C26.5958 0.520962 25.3551 1.40046 24.9619 1.49581C24.5687 1.59116 24.2432 1.62527 23.9721 1.52305C23.7009 1.42083 23.3009 1.30487 22.7924 1.43445C22.2839 1.56392 22.006 1.40034 21.3484 1.81622C20.6907 2.2321 20.128 2.6616 19.7484 3.07061C19.3687 3.47962 19.0026 3.466 18.7721 3.86826C18.5416 4.27052 18.0331 4.09319 17.8704 4.72051C17.7077 5.34771 17.8433 6.09087 17.4908 6.55437C17.1382 7.01798 18.345 7.57695 18.4874 7.52921C18.6298 7.48148 18.8603 7.31103 18.8603 7.31103C18.8603 7.31103 18.8015 8.17003 18.8829 8.62457C18.9643 9.07911 19.1812 9.76987 19.0185 9.96989C18.8558 10.1699 18.2863 10.5608 19.3711 11.4334L19.6061 12.7242C19.6061 12.7242 18.9824 12.9333 18.7835 13.6969C18.5845 14.4604 17.762 14.824 16.1891 17.0056C14.6163 19.1873 13.1248 19.1873 11.6604 22.0233C10.196 24.8594 9.51793 24.1777 8.86713 27.1774C8.65686 28.1462 8.61146 29.0261 8.66723 29.7938C5.80481 33.5211 1.47237 34.928 0.656576 31.1882C0.602271 30.9389 0.271315 30.8684 0.139884 31.0866C0.0929014 31.1645 0.0528742 31.2677 0.026515 31.404C-0.100034 32.0585 0.0988824 34.5855 3.53389 34.4946C6.25499 34.4226 8.4527 32.8002 9.24934 32.1284C9.42555 32.4885 9.6169 32.7522 9.78921 32.9039C10.44 33.4766 11.1994 33.6401 11.1994 33.6401C11.1994 33.6401 10.3858 34.581 10.3181 34.8945C10.2503 35.2082 10.1825 35.3445 10.508 35.4263C10.8335 35.5081 16.0401 35.6853 16.6368 35.8626C17.2334 36.0398 17.83 36.0262 17.952 35.9309C18.0741 35.8354 18.8877 36.2785 19.0029 35.6446C19.0029 35.6446 19.152 35.4264 19.0435 35.29C18.935 35.1537 18.5283 34.6356 18.135 34.5333C17.7418 34.431 15.3417 34.5333 14.8604 34.431C14.3791 34.3288 14.2299 34.1447 14.2638 34.0834C14.2977 34.022 15.0977 33.2585 15.0977 33.2585C15.0977 33.2585 17.4909 32.3677 18.196 31.3132C18.9011 30.2587 18.9553 28.6953 18.9553 28.3499C18.9553 28.0045 19.0818 27.7681 19.0818 27.7681C19.0818 27.7681 21.5225 26.2955 21.5949 26.2955C21.6672 26.2955 21.7756 26.5137 21.7756 26.5137C21.7756 26.5137 21.8117 28.2045 21.8117 29.3498C21.8117 30.4951 21.4863 30.8405 21.9202 31.2951C22.354 31.7496 22.6253 32.5131 22.6253 33.2222C22.6253 33.9312 23.118 34.4312 23.3214 34.5675C23.5248 34.7038 23.7281 35.1128 24.0265 35.1402C24.3249 35.1675 25.6536 35.1675 25.735 35.1266C25.8164 35.0857 25.9655 34.7721 25.9655 34.704C25.9655 34.6357 26.1146 34.5404 26.0875 34.2949C26.0605 34.0495 25.8028 33.6814 25.4774 33.4768C25.1519 33.2722 24.7045 32.4132 24.6502 32.2088C24.6502 32.2088 25.5859 32.2088 25.6265 32.2088C25.6671 32.2088 25.952 31.9906 25.9791 31.9497C26.0061 31.9089 25.9113 32.0997 26.0061 31.9089C26.1011 31.7179 26.0875 31.7589 26.1011 31.7179C26.1146 31.6771 26.1282 31.3498 26.0469 31.2407C25.9655 31.1316 25.2198 30.668 25.1656 30.5999C25.1114 30.5318 24.8401 29.8636 24.8401 29.7409C24.8401 29.6182 25.0706 27.2593 25.0299 27.0958C24.9892 26.9322 25.2469 24.3688 25.518 24.0824C25.7892 23.7961 26.8333 22.8144 27.24 21.1236C27.6468 19.4328 28.0943 17.3467 28.0401 16.3786C27.9859 15.4105 27.2265 14.715 27.2265 14.715C27.2265 14.715 27.2265 14.2378 27.0231 13.7197C26.8196 13.2016 26.5485 12.6697 26.5485 12.6697L26.7654 12.6834L26.7248 11.0608L26.4536 10.9517C26.4536 10.9517 26.5757 10.7745 26.291 10.1336C26.0063 9.49278 25.7622 8.34748 26.0469 7.42024C26.3312 6.49313 26.8194 6.08412 27.3211 5.57964Z' fill='white'/%3e%3c/svg%3e ");
      background-size: contain;
    }

    @include hover {
      &::before {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='29' height='36' viewBox='0 0 29 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M27.3211 5.57964C27.8227 5.07516 28.921 3.41164 28.9754 2.90716C29.0295 2.40267 29.0024 2.20265 28.8127 1.99354C28.8127 1.99354 28.7991 1.48219 28.5619 1.12092C28.3245 0.759643 28.0398 0.520962 28.0398 0.520962C28.0398 0.520962 27.7754 -0.0448771 27.389 0.00285904C27.0026 0.0505952 26.5958 0.520962 26.5958 0.520962C26.5958 0.520962 25.3551 1.40046 24.9619 1.49581C24.5687 1.59116 24.2432 1.62527 23.9721 1.52305C23.7009 1.42083 23.3009 1.30487 22.7924 1.43445C22.2839 1.56392 22.006 1.40034 21.3484 1.81622C20.6907 2.2321 20.128 2.6616 19.7484 3.07061C19.3687 3.47962 19.0026 3.466 18.7721 3.86826C18.5416 4.27052 18.0331 4.09319 17.8704 4.72051C17.7077 5.34771 17.8433 6.09087 17.4908 6.55437C17.1382 7.01798 18.345 7.57695 18.4874 7.52921C18.6298 7.48148 18.8603 7.31103 18.8603 7.31103C18.8603 7.31103 18.8015 8.17003 18.8829 8.62457C18.9643 9.07911 19.1812 9.76987 19.0185 9.96989C18.8558 10.1699 18.2863 10.5608 19.3711 11.4334L19.6061 12.7242C19.6061 12.7242 18.9824 12.9333 18.7835 13.6969C18.5845 14.4604 17.762 14.824 16.1891 17.0056C14.6163 19.1873 13.1248 19.1873 11.6604 22.0233C10.196 24.8594 9.51793 24.1777 8.86713 27.1774C8.65686 28.1462 8.61146 29.0261 8.66723 29.7938C5.80481 33.5211 1.47237 34.928 0.656576 31.1882C0.602271 30.9389 0.271315 30.8684 0.139884 31.0866C0.0929014 31.1645 0.0528742 31.2677 0.026515 31.404C-0.100034 32.0585 0.0988824 34.5855 3.53389 34.4946C6.25499 34.4226 8.4527 32.8002 9.24934 32.1284C9.42555 32.4885 9.6169 32.7522 9.78921 32.9039C10.44 33.4766 11.1994 33.6401 11.1994 33.6401C11.1994 33.6401 10.3858 34.581 10.3181 34.8945C10.2503 35.2082 10.1825 35.3445 10.508 35.4263C10.8335 35.5081 16.0401 35.6853 16.6368 35.8626C17.2334 36.0398 17.83 36.0262 17.952 35.9309C18.0741 35.8354 18.8877 36.2785 19.0029 35.6446C19.0029 35.6446 19.152 35.4264 19.0435 35.29C18.935 35.1537 18.5283 34.6356 18.135 34.5333C17.7418 34.431 15.3417 34.5333 14.8604 34.431C14.3791 34.3288 14.2299 34.1447 14.2638 34.0834C14.2977 34.022 15.0977 33.2585 15.0977 33.2585C15.0977 33.2585 17.4909 32.3677 18.196 31.3132C18.9011 30.2587 18.9553 28.6953 18.9553 28.3499C18.9553 28.0045 19.0818 27.7681 19.0818 27.7681C19.0818 27.7681 21.5225 26.2955 21.5949 26.2955C21.6672 26.2955 21.7756 26.5137 21.7756 26.5137C21.7756 26.5137 21.8117 28.2045 21.8117 29.3498C21.8117 30.4951 21.4863 30.8405 21.9202 31.2951C22.354 31.7496 22.6253 32.5131 22.6253 33.2222C22.6253 33.9312 23.118 34.4312 23.3214 34.5675C23.5248 34.7038 23.7281 35.1128 24.0265 35.1402C24.3249 35.1675 25.6536 35.1675 25.735 35.1266C25.8164 35.0857 25.9655 34.7721 25.9655 34.704C25.9655 34.6357 26.1146 34.5404 26.0875 34.2949C26.0605 34.0495 25.8028 33.6814 25.4774 33.4768C25.1519 33.2722 24.7045 32.4132 24.6502 32.2088C24.6502 32.2088 25.5859 32.2088 25.6265 32.2088C25.6671 32.2088 25.952 31.9906 25.9791 31.9497C26.0061 31.9089 25.9113 32.0997 26.0061 31.9089C26.1011 31.7179 26.0875 31.7589 26.1011 31.7179C26.1146 31.6771 26.1282 31.3498 26.0469 31.2407C25.9655 31.1316 25.2198 30.668 25.1656 30.5999C25.1114 30.5318 24.8401 29.8636 24.8401 29.7409C24.8401 29.6182 25.0706 27.2593 25.0299 27.0958C24.9892 26.9322 25.2469 24.3688 25.518 24.0824C25.7892 23.7961 26.8333 22.8144 27.24 21.1236C27.6468 19.4328 28.0943 17.3467 28.0401 16.3786C27.9859 15.4105 27.2265 14.715 27.2265 14.715C27.2265 14.715 27.2265 14.2378 27.0231 13.7197C26.8196 13.2016 26.5485 12.6697 26.5485 12.6697L26.7654 12.6834L26.7248 11.0608L26.4536 10.9517C26.4536 10.9517 26.5757 10.7745 26.291 10.1336C26.0063 9.49278 25.7622 8.34748 26.0469 7.42024C26.3312 6.49313 26.8194 6.08412 27.3211 5.57964Z' fill='%23CC232A'/%3e%3c/svg%3e ");
      }
    }
  }
}

.logo {
  cursor: pointer;
  position: relative;
  transition: transform 0.3s;
  width: 116px;
  height: 32px;
  @include invisLink;
  margin: 0 auto;
  left: -55px;

  @include responsive1199 {
    left: -40px;
  }

  @include responsive1023 {
    left: -30px;
  }

  @include responsive767 {
    margin-left: 0;
    margin-right: 0;
    width: 95px;
    height: 26px;
    order: 5;
    left: 0;
  }

  @include responsive389 {
    width: 40px;

    img {
      object-position: left;
    }
  }

  &:hover {
    @include hover {
      transform: scale(0.95);
    }
  }

  .picture-block {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    img {
      object-fit: contain;

      @include responsive389 {
        object-fit: cover; 
      }
    }
  }

  picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.header-phone-link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: transform 0.3s;

  @include responsive1199 {
    font-size: 14px;
    line-height: 18px;
  }

  @include responsive767 {
    display: none;
  }

  @include before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='24' height='23' viewBox='0 0 24 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M22.68 15.9324C21.04 15.9324 19.4533 15.688 17.9733 15.248C17.5067 15.1013 16.9867 15.2113 16.6267 15.5413L14.5333 17.9491C10.76 16.2991 7.22667 13.1824 5.34667 9.60129L7.94667 7.5724C8.30667 7.23018 8.41333 6.75351 8.26667 6.32573C7.77333 4.96907 7.52 3.51462 7.52 2.01129C7.52 1.35129 6.92 0.801289 6.2 0.801289H1.58667C0.866667 0.801289 0 1.09462 0 2.01129C0 13.3657 10.3067 22.8013 22.68 22.8013C23.6267 22.8013 24 22.0313 24 21.3591V17.1424C24 16.4824 23.4 15.9324 22.68 15.9324Z' fill='white'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    width: 22px;
    height: 17px;
    position: relative;
    background-size: contain;

    @include responsive1199 {
      width: 20px;
      height: 16px;
      background-size: contain;
    }
  }

  @include hover {
    transform: scale(0.95);
  }
}

.header-mail-link {
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='16' viewBox='0 0 20 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M18 0H2C0.9 0 0.00999999 0.9 0.00999999 2L0 14C0 15.1 0.9 16 2 16H18C19.1 16 20 15.1 20 14V2C20 0.9 19.1 0 18 0ZM18 4L10 9L2 4V2L10 7L18 2V4Z' fill='white'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 16px;
  transition: transform 0.3s;

  @include responsive767 {
    display: none;
  }

  @include hover {
    transform: scale(0.95);
  }
}

.header-markets {
  display: none;
  align-items: center;
  gap: 17px;
  position: absolute;
  top: calc(100% + 25px);
  right: 0;
  transition: opacity 0.3s;

  li {
    &:nth-child(2) {
      .picture-block {
        max-width: 60px;
      }
    }
  }

  .header-markets__link {
    position: relative;

    @include hover {
      &::before {
        opacity: 0;
      }
    }

    @include before {
      top: 100%;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $colorWhite;
      transition: opacity 0.3s;
    }
  }

  .picture-block {
    position: relative;
    min-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 120px;

    picture {
      position: relative;

      img {
        position: relative;
      }
    }
  }
}

.menu-invis {
  width: 100%;
  position: fixed;
  top: -1000px;
  left: 0;
  background-color: $colorWhite;
  z-index: 9;
  padding: 36px 0 70px;
  transition: top 0.3s;
  border-bottom-right-radius: 200px;

  @include responsive1549 {
    border-bottom-right-radius: 140px;
    padding-bottom: 50px;
    padding-top: 30px;
  }

  @include responsive1023 {
    border-bottom-right-radius: 100px;
    padding-top: 20px;
  }

  @include responsive767 {
    border-bottom-right-radius: 70px;
  }

  &.opened {
    top: 0;
  }

  .container {
    position: relative;
  }

  .menu-invis__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;

    @include responsive1549 {
      font-size: 32px;
      line-height: 34px;
    }

    @include responsive1199 {
      font-size: 24px;
      line-height: 28px;
    }

    @include responsive767 {
      font-size: 18px;
      line-height: 20px;
    }
  }

  .menu-invis__content {
    display: flex;
    flex-wrap: wrap;
    gap: 0 80px;
    margin-top: 60px;

    @include responsive1549 {
      margin-top: 40px;
      gap: 40px;
    }

    @include responsive1199 {
      margin-top: 24px;
    }

    @include responsive767 {
      flex-wrap: wrap;
    }

    @include responsive389 {
      gap: 40px 20px;
    }
  }

  .menu-invis__ul {
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 300px;
    border-right: solid 2px #525151;
    color: #525151;

    @include responsive1549 {
      font-size: 20px;
      line-height: 24px;
      width: 200px;
      gap: 12px;
    }

    @include responsive1439 {
      font-size: 18px;
      line-height: 20px;
    }

    @include responsive1199 {
      font-size: 16px;
      line-height: 20px;
    }

    @include responsive1023 {
      font-size: 14px;
      line-height: 18px;
    }

    @include responsive767 {
      width: 150px;
    }

    @include responsive389 {
      width: 135px;
    }

    & + .menu-invis__ul {
      border-right: 0;
      width: 250px;

      @include responsive1549 {
        width: 300px;
      }

      @include responsive767 {
        width: 150px;
      }

      @include responsive389 {
        width: 135px;
      }
    }

    .active {
      font-weight: 600;
      color: $colorBlack;
    }

    a {
      transition: border 0.3s;
      border-bottom: solid 2px transparent;

      @include hover {
        border-color: $colorRed;
      }

      &.active {
        border-color: $colorRed;
      }
    }
  }

  .header-markets {
    position: relative;
    display: flex !important;
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    margin-top: 50px;

    @include responsive767 {
      margin-top: -10px;
    }

    .header-markets__link::before {
      background-color: #525151;
    }
  }

  .menu-invis__media {
    position: absolute;
    bottom: -186px;
    right: 0;
    width: 761px;
    height: 554px;
    pointer-events: none;

    @include responsive1549 {
      width: 513px;
      height: 375px;
      bottom: -128px;
    }

    @include responsive1199 {
      width: 440px;
      height: 321px;
      bottom: -117px;
    }

    @include responsive1023 {
      width: 420px;
      height: 236px;
      bottom: -99px;
    }

    @include responsive767 {
      position: relative;
      bottom: auto;
      width: 253px;
      height: 183px;
      margin-left: 20px;
      margin-top: 15px;
      margin-bottom: -88px;
    }

    img {
      @include responsive1023 {
        object-fit: contain;
      }
    }
  }

  .close {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M11 1L1 11M1 1L11 11' stroke='%233A3A3A' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    width: 10px;
    height: 10px;
    z-index: 3;
    transition: transform 0.3s;

    @include responsive1549 {
      top: 12px;
    }

    @include responsive1199 {
      top: 8px;
    }

    @include responsive767 {
      top: 5px;
    }

    @include before {
      width: 200%;
      height: 200%;
      border: solid 1px $colorBlack;
      left: -50%;
      top: -50%;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.5s, transform 1s;
    }

    @include hover {
      transform: scale(2);

      &::before {
        opacity: 1;
      }
    }
  }
}
