.cooperation {
  padding-bottom: 0;
  overflow: hidden;

  .container {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;

    @include responsive1549 {
      padding-top: 40px;
      padding-bottom: 40px;
      gap: 25px;
      align-items: center;
    }

    @include responsive1199 {
      gap: 16px;
    }

    @include responsive767 {
      flex-direction: column;
      gap: 24px;
    }

    @include before {
      background-color: #f5f5f5;
      width: 200%;
      height: 100%;
      right: -30px;
      top: 0;
      z-index: -1;
      border-radius: 40px;
    }
  }

  .cooperation__content {
    width: 591px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #3a3a3a;

    @include responsive1549 {
      font-size: 20px;
      line-height: 24px;
    }

    @include responsive1199 {
      width: 400px;
      font-size: 18px;
      line-height: 20px;
      gap: 20px;
    }

    @include responsive1023 {
      font-size: 16px;
      line-height: 20px;
      width: calc(100% - 370px);
    }

    @include responsive767 {
      width: 100%;
    }
  }

  .caption {
  }

  .btn {
    margin-top: auto;
    height: 50px;

    @include responsive1549 {
      margin-top: 10px;
    }

    @include responsive1199 {
      margin-top: 8px;
    }

    @include responsive767 {
      height: 40px;
    }
  }

  .picture-block {
    width: 601px;
    height: 345px;
    border-radius: 40px;
    overflow: hidden;

    @include responsive1549 {
      width: 551px;
      height: 317px;
    }

    @include responsive1199 {
      width: 417px;
      height: 239px;
    }

    @include responsive1023 {
      width: 349px;
      height: 199px;
    }

    @include responsive767 {
      height: auto;
      padding-top: calc(204 / 357 * 100%);
      width: 100%;
    }
  }
}

.cooperation {
  & + .contacts-main {
    margin-top: 80px;

    @include responsive1199 {
      margin-top: 50px;
    }

    @include responsive767 {
      margin-top: 40px;
    }

    @include responsive639 {
      margin-top: 30px;
    }
  }
}
