.product-section {
  overflow: hidden;
  padding-bottom: 0;

  @include responsive767 {
    padding-top: 0;
  }

  .product-info {
    overflow: hidden;

    .container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    @include responsive767 {
      padding: 5px 0;
    }
  }

  .product-info__media {
    width: 631px;
    margin: 0 auto;

    @include responsive1549 {
      width: 531px;
      margin: 0;
    }

    @include responsive1199 {
      width: 400px;
    }

    @include responsive1023 {
      width: 320px;
    }

    @include responsive767 {
      width: 100%;
    }
  }

  .product-info__big {
    width: 100%;
    height: 494px;
    overflow: visible;
    border: solid 1px #9f9f9f;
    border-radius: 12px;

    @include responsive1549 {
      height: 360px;
    }

    @include responsive1199 {
      height: auto;
      padding: 0 50px;
    }

    .swiper-wrapper {
    }

    .swiper-slide {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      margin: auto;
      opacity: 0;
      transition: all 0.15s;
      pointer-events: none;

      &.swiper-slide-active {
        opacity: 1;
        pointer-events: initial;
      }
    }

    .picture-block {
      width: 482px;
      height: 412px;
      margin: 0 auto;

      @include responsive1549 {
        width: 405px;
        height: 346px;
      }

      @include responsive1199 {
        width: 306px;
        height: 261px;
      }

      @include responsive1023 {
        width: 220px;
        height: 192px;
      }

      @include responsive767 {
        width: 100%;
        height: auto;
        padding-top: calc(222 / 260 * 100%);
      }

      img {
        object-fit: contain;
      }
    }

    .swiperBtnPrev {
      cursor: pointer;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      left: 20px;
      right: auto;
      margin: 0;
      width: 45px;
      height: 45px;
      min-width: 45px;
      transition: all 0.3s;
      background-size: contain;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='50' viewBox='0 0 26 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M25 48.3333L1.66667 24.9999L25 1.66659' stroke='%239F9F9F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      z-index: 5;
      margin-top: -20px;

      @include responsive1199 {
        left: 0;
      }

      @include responsive767 {
        width: 24px;
        height: 19px;
        min-width: 24px;
        margin-top: -10px;
      }
    }

    .swiperBtnNext {
      cursor: pointer;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      top: 50%;
      left: auto;
      right: 20px;
      margin: 0;
      width: 45px;
      height: 45px;
      min-width: 45px;
      transition: all 0.3s;
      background-size: contain;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='26' height='50' viewBox='0 0 26 50' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1.66675L24.3333 25.0001L0.999992 48.3334' stroke='%239F9F9F' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      z-index: 5;
      margin-top: -20px;

      @include responsive1199 {
        right: 0;
      }

      @include responsive767 {
        width: 24px;
        height: 19px;
        min-width: 24px;
        margin-top: -10px;
      }
    }
  }

  .product-info__small {
    margin-top: 20px;
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transition: opacity 0.3s;

    &.hidden {
      display: none;
    }

    &.visible {
      opacity: 1;
    }

    &.smallSlide {
      .swiper-wrapper {
        justify-content: center;
      }
    }

    .swiper-slide {
      background-color: #f5f5f5;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: solid 1px transparent;
      transition: all 0.3s;

      &.swiper-slide-thumb-active {
        border-color: #8a0000;
      }

      @include responsive1199 {
        border-radius: 10px;
      }

      @include responsive767 {
        border-radius: 5px;
      }
    }

    .picture-block {
      width: 105px;
      height: 105px;
      overflow: hidden;
      border-radius: 20px;

      @include responsive1199 {
        width: 89px;
        height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
      }

      @include responsive767 {
        border-radius: 5px;
        width: 90px;
        height: 50px;
      }

      img {
        object-fit: contain;
        position: relative;

        @include responsive1199 {
          max-width: 60px;
          margin: 0 auto;
        }

        @include responsive767 {
          max-width: 40px;
        }
      }
    }
  }

  .product-info__content {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    width: 650px;

    @include responsive1549 {
      width: 570px;
      margin-left: auto;
      font-size: 16px;
    }

    @include responsive1199 {
      width: 404px;
      font-size: 14px;
      line-height: 18px;
    }

    @include responsive767 {
      margin-top: 32px;
      width: 100%;
    }

    .caption {
    }
  }

  .product-info-rows {
    margin-top: 16px;
  }

  .product-info-rows__line {
    & + .product-info-rows__line {
      border-top: solid 1px $colorDark-a5;
    }
  }

  .product-info-rows__head {
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    position: relative;
    padding: 16px 0;

    @include responsive1199 {
      font-size: 14px;
      line-height: 18px;
      padding: 10px 15px 10px 0;
    }

    &.opened {
      color: $colorRed;

      &::before {
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='2' viewBox='0 0 16 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 1H15' stroke='%233A3A3A' stroke-opacity='0.5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      }
    }

    @include before {
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8 1V15M1 8H15' stroke='%233A3A3A' stroke-opacity='0.5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 14px;
      height: 14px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .product-info-rows__body {
    display: none;
    padding-bottom: 30px;

    p {
      display: block;

      & + p {
        margin-top: 10px;
      }
    }

    @include responsive1199 {
      padding-bottom: 16px;
    }
  }
}

.product-info__title {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: solid 1px #c4c4c3;
  padding-bottom: 17px;
  margin-bottom: 24px;

  @include responsive1199 {
    margin-bottom: 16px;
    padding-bottom: 16px;
  }

  .cat {
    cursor: pointer;
    font-weight: 400;
    font-size: 24px;
    line-height: 26px;
    text-align: right;
    text-decoration: underline;
    color: #c4c4c3;
    margin-left: auto;
    transition: all 0.3s;

    @include responsive1549 {
      font-size: 20px;
      line-height: 24px;
    }

    @include responsive1199 {
      font-size: 16px;
      line-height: 20px;
    }

    @include hover {
      text-decoration-color: transparent;
    }
  }
}

.product-info-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;

  @include responsive767 {
    gap: 32px;
  }

  .product-info-bottom__item {
    position: relative;
  }

  .product-info-bottom__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: $colorBlack;

    @include responsive1549 {
      font-size: 20px;
      line-height: 24px;
    }

    @include responsive1199 {
      font-size: 18px;
      line-height: 20px;
    }
  }

  .picture-block {
    position: relative;
    border: solid 1px $colorDark;
    border-radius: 20px;
    overflow: hidden;
    padding: 14px 20px;
    transition:
      background-color 0.3s,
      color 0.3s;
    width: auto;
    height: auto;
    display: flex;

    @include responsive1549 {
      padding: 7px 20px;
      font-size: 18px;
      line-height: 24px;
      min-width: 130px;
      text-align: center;
      justify-content: center;
    }

    @include responsive1199 {
      min-width: 100px;
      padding: 4px 10px;
      font-size: 15px;
    }

    &.active {
      background-color: $colorDark;
      color: $colorWhite;
    }

    @include hover {
      background-color: $colorDark;
      color: $colorWhite;
    }

    picture {
      position: relative;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: contain;
      width: 70%;
      height: 70%;
    }

    @include hover {
      z-index: 3;
    }
  }

  ul {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px 16px;

    @include responsive1549 {
      gap: 20px;
    }

    @include responsive1199 {
      margin-top: 16px;
    }

    @include responsive1023 {
      gap: 15px 12px;
    }

    li {
      cursor: pointer;
      position: relative;

      &.active {
        background-color: $colorBlack;
        color: $colorWhite;
      }

      a:not(.picture-block),
      span:not(.picture-block) {
        position: relative;
        font-weight: 600;
        font-size: 22px;
        line-height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: solid 1px $colorBlack;
        transition: border 0.3s;
        width: 75px;
        height: 75px;

        @include responsive1199 {
          font-size: 18px;
          line-height: 22px;
          width: 65px;
          height: 65px;
        }

        @include responsive1023 {
          width: 55px;
          height: 55px;
          font-size: 16px;
          line-height: 20px;
        }

        @include responsive767 {
          font-size: 14px;
          line-height: 18px;
        }
      }

      a {
        @include hover {
          border-color: $colorRed;
        }
      }

      span {
        background-color: #525151;
        color: $colorWhite;
        transform: scale(1.15);
      }

      @include responsive1549 {
        font-size: 20px;
        line-height: 24px;
      }

      @include responsive1199 {
        font-size: 16px;
        line-height: 18px;
      }

      &.flavor-options__more {
        cursor: pointer;
        border: 0;
        width: 30px;
        height: 30px;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17.5984 7.72V10.28H10.4784V17.4H7.91844V10.28H0.798438V7.72H7.91844V0.6H10.4784V7.72H17.5984Z' fill='%23525151'/%3e%3c/svg%3e ");
        text-decoration-skip-ink: none;
        transition:
          transform 0.3s,
          text-decoration 0.3s;

        &.hide {
        }

        &.show {
          background: transparent;
          font-size: 18px;
          width: auto;
          color: #525151;
          text-decoration: underline;
          font-weight: 300;

          @include responsive767 {
            font-size: 14px;
          }

          @include hover {
            transform: scale(1);
            text-decoration-color: transparent;
          }
        }

        @include hover {
          transform: scale(1.1);
        }
      }
    }
  }
}

.product-section-content {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  background-color: #f5f5f5;
  margin-top: 200px;
  z-index: 3;
  padding: 100px 0;

  @include responsive1549 {
    font-size: 16px;
    line-height: 20px;
    padding: 80px 0;
    margin-top: 60px;
    overflow: hidden;
  }

  @include responsive1199 {
    font-size: 14px;
    line-height: 18px;
    padding: 30px 0;
  }

  @include responsive767 {
    margin-top: 32px;
    padding-bottom: 350px;
  }

  @include before {
    top: 80px;
    left: 0;
    width: calc(100% - 95px);
    height: calc(100% - 160px);
    background-color: $colorWhite;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    z-index: -1;

    @include responsive1199 {
      top: 40px;
      height: calc(100% - 80px);
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      width: calc(100% - 95px);
    }

    @include responsive767 {
      width: 95%;
    }
  }

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 23px;
    margin-top: 32px;
    max-width: 995px;

    @include responsive1549 {
      max-width: 760px;
    }

    @include responsive1199 {
      max-width: 570px;
      margin-top: 24px;
    }

    @include responsive767 {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 100%;
    }
  }

  li {
    position: relative;
    padding-left: 120px;
    min-height: 88px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 12px;

    @include responsive1199 {
      padding-left: 65px;
      gap: 8px;
    }

    @include responsive767 {
      min-height: initial;
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding-top: 33px;
    padding-bottom: 33px;
    position: relative;

    @include responsive767 {
      padding-right: 33px;
    }
  }

  .product-section-content__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    max-width: 765px;

    @include responsive1549 {
      max-width: 640px;
    }

    @include responsive767 {
      font-size: 24px;
      line-height: 28px;
      max-width: 100%;
    }
  }

  p {
    max-width: 765px;

    @include responsive1549 {
      max-width: 680px;
    }

    @include responsive1199 {
      max-width: 484px;
    }

    @include responsive767 {
      max-width: 100%;
    }
  }

  .product-section-content__name {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;

    @include responsive1549 {
      font-size: 20px;
      line-height: 24px;
    }

    @include responsive767 {
      font-size: 18px;
      line-height: 20px;
    }
  }

  .product-section-content__icon {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    background-color: #f5f5f5;
    position: absolute;
    top: 0;
    left: 0;

    @include responsive1199 {
      width: 44px;
      height: 44px;
    }

    picture {
      transform: scale(0.75);
    }
  }

  .product-section-content__media {
    position: absolute;
    right: -260px;
    bottom: -19px;
    width: 829px;
    height: 786px;
    pointer-events: none;

    @include responsive1549 {
      width: 551px;
      height: 508px;
      right: -70px;
      bottom: 0px;
    }

    @include responsive1199 {
      width: 498px;
      height: 424px;
      right: -130px;
      bottom: 10px;
    }

    @include responsive1023 {
      width: 418px;
      height: 364px;
      right: -90px;
      bottom: 10px;
    }

    @include responsive767 {
      position: absolute;
      right: auto;
      bottom: -310px;
      width: 100%;
    }

    @include responsive389 {
      bottom: -310px;
      height: 300px;
    }

    img {
      object-position: top;
    }
  }
}

.flavor-options {
  opacity: 0;
  transition: all 0.3s;

  &.load {
    opacity: 1;
  }
}
