.about-info {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  overflow: hidden;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='1009' height='427' viewBox='0 0 1009 427' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1 0C136.143 13.8956 247.889 79.9731 289.132 236.432C402.5 666.5 839 211.432 1008 338' stroke='%23F5F5F5' stroke-width='2'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  background-position: left 40px;
  position: relative;
  z-index: 3;

  @include responsive767 {
    font-size: 16px;
    line-height: 18px;
  }

  .about-info__row {
    position: relative;
  }

  .about-info__text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .picture-block {
    pointer-events: none;
    z-index: -1;

    img {
      object-fit: contain;
    }
  }

  .about-info__row--one {
    .about-info__text {
      max-width: 767px;

      @include responsive1549 {
        max-width: 600px;
      }

      @include responsive1023 {
        max-width: 570px;
      }
    }

    p {
      &:last-child {
        @include responsive767 {
          max-width: 60%;
        }
      }
    }

    .picture-block {
      width: 532px;
      height: 589px;
      position: absolute;
      right: -5px;
      top: -60px;

      @include responsive1199 {
        width: 280px;
        height: 300px;
        top: 80px;
        right: -28px;
      }

      @include responsive767 {
        width: 200px;
        height: 213px;
        right: -20px;
        top: auto;
        bottom: -30px;
      }

      @include responsive389 {
        right: -40px;
      }
    }
  }

  .about-info__row--two {
    margin-top: 300px;

    @include responsive1199 {
      margin-top: 150px;
    }

    @include responsive767 {
      margin-top: 50px;
    }

    .caption {
      position: absolute;
      right: 0;
      top: 0;
      font-family: $fontSuisse;
      font-size: 110px;
      line-height: 110px;
      color: $colorDark;

      @include responsive1549 {
        font-size: 90px;
        line-height: 90px;
      }

      @include responsive1199 {
        font-size: 80px;
        line-height: 80px;
        right: 10px;
      }

      @include responsive1023 {
        font-size: 40px;
        line-height: 40px;
      }

      @include responsive767 {
        font-size: 30px;
        line-height: 35px;
      }
    }

    .about-info__text {
      max-width: 730px;
      margin-left: auto;
      padding-top: 130px;
      min-height: 450px;

      @include responsive1549 {
        max-width: 612px;
        padding-top: 130px;
        min-height: 450px;
      }

      @include responsive1199 {
        max-width: 550px;
        min-height: 350px;
      }

      @include responsive1023 {
        max-width: 420px;
        min-height: 420px;
        padding-top: 70px;
      }

      @include responsive767 {
        max-width: 65%;
        min-height: initial;
        padding-top: 60px;
      }
    }

    .picture-block {
      width: 750px;
      height: 903px;
      position: absolute;
      left: 0;
      bottom: -80px;

      @include responsive1549 {
        width: 660px;
        height: 783px;
      }

      @include responsive1439 {
        width: 570px;
        height: 693px;
      }

      @include responsive1199 {
        width: 380px;
        height: 513px;
      }

      @include responsive767 {
        width: 230px;
        height: 165px;
        bottom: auto;
        top: -40px;
        left: -50px;
      }

      @include responsive389 {
        top: 10px;
        left: -70px;
      }
    }
  }
}

.about-production {
  background-color: #f5f5f5;
  overflow: hidden;

  .about-production__ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;

    @include responsive1199 {
      grid-template-columns: 1fr 1fr;
    }

    @include responsive767 {
      margin-top: 24px;
    }
  }

  .about-production__li {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    color: $colorDark;
    transition: all 0.3s;
    padding: 0 18px;

    @include responsive1549 {
      font-size: 16px;
      line-height: 20px;
    }

    @include responsive1199 {
      padding: 20px;
    }

    @include responsive767 {
      font-size: 14px;
      line-height: 16px;
      padding: 14px;
      border-width: 1px !important;
    }

    @include hover {
      box-shadow: 0px 4px 16px 0px #00000040;
    }

    & + .about-production__li {
      border-left: solid 2px $colorDark;
    }

    &:nth-child(3) {
      @include responsive1199 {
        border-left: 0;
        border-top: solid 2px $colorDark;
      }
    }

    &:nth-child(4) {
      @include responsive1199 {
        border-top: solid 2px $colorDark;
      }
    }

    .num {
      font-weight: 600;
      font-size: 72px;
      line-height: 100px;
      text-transform: uppercase;
      color: $colorDark;
      opacity: 0.8;

      @include responsive1549 {
        font-size: 64px;
        line-height: 70px;
      }

      @include responsive1199 {
        font-size: 50px;
        line-height: 50px;
      }

      @include responsive767 {
        font-size: 24px;
        line-height: 28px;
      }
    }

    &:first-child {
      .num {
        color: $colorRed;
        opacity: 1;
      }
    }
  }

  .container {
    transform: translateX(160px);

    @include responsive1799 {
      transform: translateX(0);
    }
  }
}

.about-production__slider {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  background-color: #c4c4c3;
  border-bottom-right-radius: 100px;
  overflow: hidden;
  padding: 60px 65px;
  width: 730px;
  margin-left: auto;
  margin-right: 0;
  transform: translateX(138px);
  overflow: hidden;

  @include responsive1549 {
    width: 700px;
    font-size: 16px;
    line-height: 20px;
  }

  @include responsive1439 {
    width: 600px;
    transform: translateX(40px);
  }

  @include responsive1199 {
    transform: translateX(100px);
    width: 550px;
  }

  @include responsive1023 {
    transform: translateX(10px);
  }

  @include responsive767 {
    transform: translateX(0);
    width: 100%;
    padding: 20px;
  }

  .swiper {
  }

  .swiper-wrapper {
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;

    @include responsive767 {
      gap: 16px;
    }

    &.swiper-slide-active {
      opacity: 1;
      pointer-events: initial;
    }
  }

  .about-production__name {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;

    @include responsive1439 {
      font-size: 28px;
      line-height: 32px;
    }

    @include responsive767 {
      font-size: 18px;
      line-height: 20px;
    }
  }

  .swiper-controls-simple {
    margin: 0;
    justify-content: flex-start;
    margin-top: 32px;

    @include responsive767 {
      margin-top: 20px;
    }
  }
}

.about-production__media {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  margin-top: 30px;
  min-height: 552px;

  @include responsive767 {
    margin-top: 24px;
    flex-direction: column;
  }

  .picture-block {
    width: 770px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    @include responsive1549 {
      left: -120px;
    }

    @include responsive1439 {
      left: -40px;
      width: 700px;
    }

    @include responsive1199 {
      left: -99px;
      width: 600px;
    }

    @include responsive767 {
      width: 100%;
      height: auto;
      position: relative;
      padding-top: calc(390 / 390 * 100%);
      left: 0;
    }
  }
}

.team-about {
  background-color: #525151;
  color: $colorWhite;

  .teams-main {
    background: transparent;
  }

  .swiperBtnPrev {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='48' height='39' viewBox='0 0 48 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.5 4.96484H1V37.9648H31V32.9648H9.5L9 31.9648L46 1.96484L39.5 0.964844L6.5 28.4648L5.5 27.4648L6.5 4.96484Z' fill='white' stroke='white'/%3e%3c/svg%3e ");
  }

  .swiperBtnNext {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='48' height='39' viewBox='0 0 48 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M41.5 33.9648H47V0.964844H17V5.96484H38.5L39 6.96484L2 36.9648L8.5 37.9648L41.5 10.4648L42.5 11.4648L41.5 33.9648Z' fill='%23fff' stroke='%23fff'/%3e%3c/svg%3e ");
  }
}

.history-company {
  .history-company__tabs {
    display: flex;
    justify-content: space-between;
    min-height: 800px;

    @include responsive1199 {
      min-height: 660px;
    }

    @include responsive767 {
      min-height: 500px;
    }
  }

  .history-company__left {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    @include responsive1439 {
      transform: translateX(100px);
    }

    @include responsive1023 {
      transform: translateX(55px);
    }

    @include responsive767 {
      font-size: 16px;
      line-height: 20px;
      transform: translateX(20px);
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 90px;
      height: 100%;
      position: relative;

      @include responsive767 {
        width: 65px;
      }

      @include before {
        right: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: #c4c4c3;
      }

      li {
        position: relative;
        cursor: pointer;
        transition: all 0.3s;

        span {
          display: table;
          transition: all 0.3s;
          border-bottom: solid 1px transparent;
        }

        &.active {
          padding: 20px 0;

          @include responsive767 {
            padding: 10px 0;
          }

          span {
            transform: scale(3.5);
            border-color: $colorRed;
            margin-left: -45px;

            @include responsive1199 {
              transform: scale(2.5);
              margin-left: -15px;
            }

            @include responsive767 {
              transform: scale(1.5);
              margin-left: 0;
            }
          }

          &::after {
            transform: scale(1);
          }

          &::before {
            transform: scale(0) !important;
          }
        }

        @include hover {
          &::before {
            transform: scale(1.2);
          }
        }

        @include after {
          background-color: $colorRed;
          width: 32px;
          height: 32px;
          right: 0;
          top: 50%;
          margin-top: -16px;
          margin-right: -15.5px;
          border-radius: 50%;
          transform: scale(0);
          transition: all 0.3;

          @include responsive767 {
            width: 24px;
            height: 24px;
            margin-top: -12px;
            margin-right: -11.5px;
          }
        }

        @include before {
          background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='35' height='34' viewBox='0 0 35 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.5 17H33.5' stroke='%233A3A3A' stroke-width='2' stroke-linecap='round'/%3e%3cpath d='M17.5 1L17.5 33' stroke='%233A3A3A' stroke-width='2' stroke-linecap='round'/%3e%3c/svg%3e ");
          background-position: center;
          background-repeat: no-repeat;
          width: 32px;
          height: 32px;
          right: 0;
          top: 50%;
          margin-top: -16px;
          margin-right: -15.5px;
          transition: all 0.3;

          @include responsive767 {
            width: 24px;
            height: 24px;
            margin-right: -11.5px;
            margin-top: -12px;
          }
        }
      }
    }
  }

  .history-company__right {
    max-width: 1088px;
    width: 100%;

    @include responsive1549 {
      max-width: 940px;
    }

    @include responsive1439 {
      max-width: 880px;
    }

    @include responsive1199 {
      max-width: 550px;
    }

    @include responsive767 {
      max-width: 100%;
      width: calc(100% - 130px);
    }
  }

  .history-company__title {
    font-weight: 400;
    font-size: 96px;
    line-height: 100px;
    text-transform: uppercase;
    opacity: 0.1;

    @include responsive1549 {
      font-size: 86px;
      line-height: 90px;
    }

    @include responsive1439 {
      font-size: 70px;
      line-height: 80px;
    }

    @include responsive1199 {
      font-size: 50px;
      line-height: 60px;
    }

    @include responsive767 {
      font-size: 24px;
      line-height: 30px;
    }
  }

  .tab-content {
    padding-top: 40px;
    display: none;

    @include responsive767 {
      padding-top: 20px;
    }

    &.opened {
      display: block;
    }

    .caption {
      margin-bottom: 32px;
      max-width: 660px;

      @include responsive1199 {
        margin-bottom: 24px;
      }
    }

    p {
      max-width: 660px;
    }

    .picture-block {
      width: 659px;
      height: 439px;
      margin-bottom: 54px;
      border-bottom-right-radius: 200px;
      overflow: hidden;

      @include responsive1199 {
        width: 100%;
        height: auto;
        padding-top: calc(240 / 390 * 100%);
        margin-bottom: 30px;
        border-bottom-right-radius: 100px;
      }
    }
  }
}

.your-brand {
  background-color: #f5f5f5;

  .title-section {
    align-items: flex-end;
  }

  .your-brand__inner {
    display: flex;
    height: 750px;
    margin-top: 40px;
    gap: 30px;

    @include responsive1549 {
      height: 675px;
    }

    @include responsive1439 {
      height: 559px;
    }

    @include responsive1199 {
      height: 480px;
    }

    @include responsive1199 {
      margin-top: 24px;
    }

    @include responsive767 {
      height: auto;
      flex-direction: column;
    }
  }

  .news-item__link {
  }

  .caption {
  }

  .your-brand__left {
    width: 232px;
    overflow: auto;
    padding: 10px;
    margin-top: -10px;
    scrollbar-color: $colorRed #c4c4c3;
    scrollbar-width: thin;

    @include responsive1439 {
      width: 220px;
    }

    @include responsive767 {
      margin: 0;
      width: 100%;
      overflow: visible;
      padding: 0;
    }

    .picture-block {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      picture {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        object-fit: contain;
        width: auto;
        height: auto;
        position: relative;
        transition: all 0.3s;

        @include responsive1439 {
          width: 95px;
          height: 80%;
        }
      }
    }

    ul {
      @include responsive767 {
        display: flex;
        flex-wrap: nowrap;
        gap: 20px;
        width: calc(100% + 32px);
        overflow: auto;
        padding: 20px 15px;
        left: -16px;
        position: relative;
      }

      li {
        cursor: pointer;
        position: relative;
        width: 100%;
        height: 123px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;

        @include responsive1439 {
          height: 80px;
        }

        @include responsive767 {
          width: 115px;
          height: 70px;
          min-width: 115px;
        }

        &.active {
          box-shadow: 0px 0px 8px 0px #00000040;
        }

        @include hover {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .your-brand__right {
    width: 1138px;

    @include responsive767 {
      width: 100%;
    }
  }

  .your-brand__content {
    position: relative;
    width: 100%;
    height: 100%;
    display: none;
    align-items: flex-end;
    justify-content: flex-start;

    @include responsive767 {
      width: 100%;
      height: auto;
      padding-top: calc(272 / 358 * 100%);
      border-bottom-right-radius: 80px;
      overflow: hidden;
    }

    &.opened {
      display: flex;
    }
  }

  .your-brand__logo {
    width: 300px;
    height: 171px;
    position: absolute;
    right: 55px;
    top: 32px;
    z-index: 3;
    pointer-events: none;

    @include responsive1549 {
      width: 164px;
      height: 100px;
    }

    @include responsive1199 {
      right: 24px;
      top: 24px;
    }

    img {
      object-fit: contain;
    }
  }

  .your-brand__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 200px;
    overflow: hidden;

    @include responsive1199 {
      border-bottom-right-radius: 180px;
    }

    @include responsive767 {
      border-bottom-right-radius: 0;
    }

    img {
    }
  }

  .your-brand__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 32px;
    background-color: #e3e3e1;
    position: relative;
    z-index: 3;
    width: 540px;

    @include responsive1439 {
      font-size: 15px;
      line-height: 20px;
      width: 400px;
      padding: 24px;
    }

    @include responsive767 {
      width: 80%;
      padding: 12px;
    }
  }

  .your-brand__name {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: $colorRed;

    @include responsive1439 {
      font-size: 18px;
      line-height: 20px;
    }
  }
}

.about-advanteges {
  position: relative;
  overflow: hidden;

  .about-advanteges__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
    margin-top: 50px;
    max-width: 1050px;

    @include responsive1549 {
      gap: 24px;
      max-width: 920px;
    }

    @include responsive1439 {
      max-width: 900px;
    }

    @include responsive1199 {
      gap: 24px 12px;
      max-width: 690px;
    }

    @include responsive1023 {
      grid-template-columns: 1fr;
      gap: 24px;
      max-width: 70%;
      margin-top: 24px;
    }

    @include responsive767 {
      max-width: 100%;
    }
  }

  .about-advanteges__item {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    position: relative;
    padding-left: calc(88px + 32px);
    min-height: 88px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;

    @include responsive1549 {
      font-size: 16px;
      line-height: 20px;
    }

    @include responsive1199 {
      font-size: 14px;
      line-height: 18px;
      padding-left: calc(44px + 16px);
      gap: 8px;
    }

    @include responsive1199 {
      min-height: 64px;
    }

    @include responsive1023 {
      gap: 4px;
      min-height: initial;
    }

    .picture-block {
      width: 88px;
      height: 88px;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);

      @include responsive1199 {
        width: 44px;
        height: 44px;
      }
    }
  }

  .about-advanteges__name {
    color: $colorDark;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;

    @include responsive1549 {
      font-size: 20px;
      line-height: 24px;
    }

    @include responsive1199 {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .about-advanteges__media {
    position: absolute;
    right: -210px;
    bottom: -170px;
    width: 880px;
    height: 760px;
    z-index: -1;
    pointer-events: none;

    @include responsive1799 {
      right: -340px;
    }

    @include responsive1549 {
      width: 570px;
      height: 460px;
      right: -180px;
      bottom: -90px;
    }

    @include responsive1439 {
      width: 640px;
      height: 510px;
      right: -250px;
      bottom: -90px;
    }

    @include responsive1199 {
      width: 450px;
      height: 355px;
      right: -140px;
      bottom: -60px;
    }

    @include responsive767 {
      position: relative;
      width: 100%;
      height: auto;
      right: auto;
      bottom: auto;
      padding-top: calc(265 / 350 * 100%);
      margin-bottom: -65px;
    }

    img {
      object-fit: contain;
    }
  }
}
