.btn {
  cursor: pointer;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  position: relative;
  color: $colorBlack;
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: all 0.3s;
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0em;
  text-align: center;
  padding: 5px 48px;
  border-radius: 24px;
  font-variant-ligatures: none;
  font-family: $fontMain;
  width: 100%;
  height: 87px;

  @include responsive1549 {
    font-size: 20px;
    height: 75px;
  }

  @include responsive1199 {
    padding: 5px 40px;
    height: 70px;
  }

  @include responsive1023 {
    font-size: 16px;
    height: 60px;
    padding: 5px 35px;
  }

  @include responsive767 {
    height: 40px;
  }

  &--orange {
  }

  &--dark {
    background-color: $colorDark;
    color: $colorWhite;

    @include hover {
      opacity: 0.9;
    }
  }

  &--white {
    background-color: $colorWhite;
    color: $colorBlack;
    box-shadow: 0px 0px 16px 0px #00000040;
    transition: all 0.3s;

    @include hover {
      box-shadow: 0px 0px 8px 4px #00000040;
    }
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.btn-filter {
  cursor: pointer;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='21' viewBox='0 0 22 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.62222 4.28796C1.86588 3.44264 1.48771 3.01998 1.47345 2.66077C1.46105 2.34873 1.59515 2.04881 1.83596 1.84998C2.11317 1.62109 2.68031 1.62109 3.81461 1.62109H18.6575C19.7918 1.62109 20.359 1.62109 20.6362 1.84998C20.877 2.04881 21.0111 2.34873 20.9987 2.66077C20.9844 3.01998 20.6063 3.44264 19.8499 4.28797L14.1437 10.6655C13.9929 10.834 13.9175 10.9183 13.8638 11.0142C13.8161 11.0992 13.7811 11.1908 13.76 11.2859C13.7361 11.3932 13.7361 11.5063 13.7361 11.7324V17.0795C13.7361 17.275 13.7361 17.3728 13.7045 17.4574C13.6767 17.5321 13.6313 17.599 13.5723 17.6526C13.5055 17.7133 13.4148 17.7496 13.2332 17.8222L9.83319 19.1822C9.46564 19.3293 9.28187 19.4028 9.13435 19.3721C9.00534 19.3453 8.89213 19.2687 8.81933 19.1588C8.73607 19.0333 8.73607 18.8353 8.73607 18.4395V11.7324C8.73607 11.5063 8.73607 11.3932 8.7122 11.2859C8.69102 11.1908 8.65604 11.0992 8.60836 11.0142C8.55461 10.9183 8.47923 10.834 8.32846 10.6655L2.62222 4.28796Z' stroke='%233A3A3A' stroke-opacity='0.5' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.btn--brand1 {
  background-color: #e73579;
  color: $colorWhite;
}

.btn--brand2 {
  background-color: #ee3532;
  color: $colorWhite;
}
