.brand__page-7 {
  background: rgba(245, 245, 245, 1);
}
.brunch__block-1-heading {
  text-align: right;
  font-size: 72px;
  font-weight: 500;
  letter-spacing: 0%;
  max-width: 1580px;
  margin: 0 auto;
  width: 100%;
  margin-top: 18px;
}
.brunch__block-1-info {
  max-width: 780px;
  text-align: right;
  font-size: 20px;
  line-height: 24px;
  margin-top: 60px;
}
.brunch__block-1-wr {
  position: relative;
  overflow: hidden;
  height: 550px;
  .container {
    display: flex;
    justify-content: end;
  }
}
.brunch__block-1-name-bg {
  color: rgba(140, 106, 145, 0.12);
  font-size: 360px;
  font-weight: 600;
  position: absolute;
  right: 40px;
  bottom: 30px;
  font-family: "Suisse";
}
.brunch__block-1-doggy {
  position: absolute;
  left: -100px;
  bottom: -50px;
  z-index: 4;
}
.brunch__block-1 {
  position: relative;
}
.brunch__block-2 {
  background: #fff;
  padding-top: 120px;
  position: relative;
  z-index: 3;
  padding-bottom: 200px;
}
.brunch__block-2-heading {
  font-size: 72px;
  color: rgba(58, 58, 58, 0.5);
  font-weight: 500;
  margin-top: 40px;
}
.brunch__block-2-info {
  font-size: 18px;
  line-height: 24px;
  max-width: 750px;
  margin-top: 68px;
  p {
    + {
      p {
        margin-top: 30px;
      }
    }
  }
}
.brunch__block-2-link {
  text-align: center;
  max-width: 340px;
  margin-top: 40px;
  background: rgba(140, 106, 145, 1);
  height: 50px;
  line-height: 50px;
  border-radius: 20px;
  transition: all ease 0.3s;
  a {
    color: rgba(245, 245, 245, 1);
    font-size: 24px;
    font-weight: 600;
    display: block;
    width: 100%;
    height: 100%;
  }
  &:hover {
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.25);
  }
}
.brunch__block-2-common-wr {
  display: flex;
  width: 100%;
}
.brunch__block-2-bg-imgs {
  position: relative;
  margin-left: 60px;
  picture.img-1 {
    position: absolute;
    z-index: 4;
    width: 415px;
    left: 0;
    top: -90px;
    img {
      width: 100%;
    }
  }
  picture.img-2 {
    position: absolute;
    left: 210px;
    top: -20px;
    z-index: 3;
    width: auto;
    width: 560px;
    img {
      width: 100%;
    }
  }
}
.brunch__block-3 {
  background: #fff;
  padding-top: 40px;
  position: relative;
  padding-bottom: 80px;
}
.brunch__block-3-heading {
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;
  color: rgba(58, 58, 58, 0.5);
  max-width: 650px;
  margin-left: 520px;
}
.brunch__block-3-info-heading {
  color: rgba(58, 58, 58, 0.5);
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}
.brunch__block-3-info {
  margin-top: 54px;
  margin-left: 810px;
}
.brunch__block-3-info-single {
  margin-bottom: 30px;
  position: relative;

  &:nth-child(1) {
  }
  &:nth-child(2) {
    &::before {
      width: 114px;
    }
  }
  &:nth-child(3) {
  }
  &:nth-child(4) {
    &::before {
      width: 262px;
    }
  }
}

.brunch__block-3-info-single::before {
  content: "";
  position: absolute;
  right: calc(100% + 15px);
  top: calc(50% - 8px);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='265' height='6' viewBox='0 0 265 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.66666 3C5.66666 1.52724 4.47275 0.333333 3 0.333333C1.52725 0.333333 0.333344 1.52724 0.333344 3C0.333344 4.47276 1.52725 5.66667 3 5.66667C4.47275 5.66667 5.66666 4.47276 5.66666 3ZM265 3V2.5L262.023 2.5V3V3.5L265 3.5V3ZM256.068 3V2.5L250.114 2.5V3V3.5L256.068 3.5V3ZM244.159 3V2.5L238.205 2.5V3V3.5L244.159 3.5V3ZM232.25 3V2.5L226.295 2.5V3V3.5L232.25 3.5V3ZM220.341 3V2.5L214.386 2.5V3V3.5L220.341 3.5V3ZM208.432 3V2.5L202.477 2.5V3V3.5L208.432 3.5V3ZM196.523 3V2.5L190.568 2.5V3V3.5L196.523 3.5V3ZM184.614 3V2.5L178.659 2.5V3V3.5L184.614 3.5V3ZM172.705 3V2.5L166.75 2.5V3V3.5L172.705 3.5V3ZM160.795 3V2.5L154.841 2.5V3V3.5L160.795 3.5V3ZM148.886 3V2.5L142.932 2.5V3V3.5L148.886 3.5V3ZM136.977 3V2.5L131.023 2.5V3V3.5L136.977 3.5V3ZM125.068 3V2.5L119.114 2.5V3V3.5L125.068 3.5V3ZM113.159 3V2.5L107.205 2.5V3V3.5L113.159 3.5V3ZM101.25 3V2.5L95.2955 2.5V3V3.5L101.25 3.5V3ZM89.3409 3V2.5L83.3864 2.5V3V3.5L89.3409 3.5V3ZM77.4319 3V2.5L71.4773 2.5V3V3.5L77.4319 3.5V3ZM65.5228 3V2.5L59.5682 2.5V3V3.5L65.5228 3.5V3ZM53.6137 3V2.5L47.6591 2.5V3V3.5L53.6137 3.5V3ZM41.7046 3V2.5L35.75 2.5V3V3.5L41.7046 3.5V3ZM29.7955 3V2.5L23.841 2.5V3V3.5L29.7955 3.5V3ZM17.8864 3V2.5L11.9319 2.5V3V3.5L17.8864 3.5V3ZM5.97733 3V2.5L3 2.5V3V3.5H5.97733V3Z' fill='%233A3A3A'/%3e%3c/svg%3e ");
  background-position: left center;
  background-repeat: no-repeat;
  width: 205px;
  height: 5px;
}

.brunch__block-3-info-text {
  font-size: 16px;
  margin-top: 12px;
  max-width: 350px;
}
.brunch__block-3-bowl {
  position: absolute;
  left: 210px;
  top: 180px;
  &::before {
    position: absolute;
    left: -55px;
    top: -60px;
    z-index: 3;
    content: "";
    display: block;
    border-radius: 50%;
    background: rgba(140, 106, 145, 1);
    width: 512px;
    height: 512px;
  }
  picture {
    z-index: 4;
  }
}
.\32 {
  __block_spike__ {
    background: #dedede;
    padding: 50px;
  }
}
.brunch__block-above-footer {
  background: rgba(245, 245, 245, 1);
  padding-top: 80px;
  position: relative;
  padding-bottom: 80px;
  .container {
    padding-left: 540px;
  }
}
.brunch__block-above-footer-heading {
  font-size: 64px;
  color: rgba(58, 58, 58, 0.5);
  line-height: 64px;
  font-weight: 500;
  max-width: 650px;
  letter-spacing: 0px;
  opacity: 0.7;
}
.brunch__block-above-footer-info {
  max-width: 625px;
  font-size: 16px;
  line-height: 20px;
  margin-top: 40px;
}
.brunch__block-above-footer-doggo {
  position: absolute;
  left: 0;
  top: -150px;
}
.brand__page-9 {
  background: rgba(245, 245, 245, 1);
}
.petibon__block-1 {
  .container {
    position: relative;
  }
  position: relative;
  margin-top: 50px;
}
.petibon__block-1--info {
  display: flex;
  height: auto;
  height: 750px;
}
.petibon__block-1--info-left {
  width: 750px;
}
.petibon__block-1-bowl {
  position: absolute;
  bottom: -70px;
  z-index: 5;
  max-width: 640px;
}
.petibon__block-1--info-right {
  width: calc(100% - 750px);
  position: absolute;
  right: 0;
  bottom: 0;
  img {
    position: relative;
    height: 100%;
    z-index: 4;
  }
}
.petibon__block-1-heading {
  font-size: 72px;
  line-height: 70px;
  font-weight: 500;
  color: rgba(53, 41, 30, 1);
}
.petibon__block-1-text {
  font-size: 18px;
  line-height: 24px;
  color: rgba(58, 58, 58, 1);
  margin-top: 25px;
}
.petibon__block-1-bg-name {
  position: absolute;
  color: rgba(196, 196, 195, 0.12);
  font-size: 360px;
  font-weight: 500;
  position: absolute;
  right: 40px;
  bottom: 30px;
  font-family: "Suisse";
  z-index: 1;
}
.petibon__block-1-wr {
  position: relative;
  overflow: hidden;
}
.petibon__block-2 {
  background: #fff;
  padding-bottom: 60px;
}
.petibon__block-2-flex {
  display: flex;
}
.petibon__block-2-flex-r {
  width: 690px;
}
.petibon__block-2-heading {
  color: rgba(53, 41, 30, 1);
  font-size: 72px;
  line-height: 70px;
  font-weight: 500;
  margin-top: 100px;
}
.petibon__block-2-text {
  font-size: 18px;
  line-height: 24px;
  margin-top: 30px;
}
.petibon__block-2-link {
  width: 337px;
  height: 50px;
  background: rgba(27, 38, 56, 1);
  line-height: 50px;
  text-align: center;
  margin-top: 40px;
  border-radius: 20px;
  a {
    display: block;
    width: 100%;
    height: 100%;
    color: rgba(245, 245, 245, 1);
    font-size: 24px;
    font-weight: 600;
  }
}
.petibon__block-2-flex-l {
  position: relative;
  picture {
    margin-top: 100px;
    position: relative;
    right: 80px;
  }
}
.petibon__block-3 {
  background: rgba(30, 42, 63, 1);
  border-bottom-right-radius: 200px;
  color: rgba(255, 255, 255, 1);
  padding-top: 60px;
  position: relative;
  padding-bottom: 210px;
  overflow: hidden;
}
.petibon__block-3-header {
  font-size: 72px;
  line-height: 80px;
}
.petibon__block-3-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.petibon__block-3-flex-l-heading {
  font-size: 32px;
  line-height: 38px;
  margin-top: 24px;
}
.petibon__block-3-flex-l-info {
  font-size: 20px;
  line-height: 24px;
  margin-top: 16px;
}
.petibon__block-3-flex-l {
  max-width: 630px;
}
.petibon__block-3-flex-r-single-heading {
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 12px;
}
.petibon__block-3-flex-r-single-info {
  font-size: 18px;
  line-height: 24px;
}
.petibon__block-3-flex-r-single {
  + {
    .petibon__block-3-flex-r-single {
      margin-top: 40px;
    }
  }
  max-width: 370px;
  padding-left: 120px;
  box-sizing: content-box;
  position: relative;
}
.petibon__block-3-flex-r-list {
  margin-top: 30px;
  width: 620px;
  .petibon__block-3-flex-r-single {
    &::before {
      content: "";
      display: block;
      width: 86px;
      height: 86px;
      position: absolute;
      left: 0;
      background-size: contain;
    }
  }
}
.petibon__block-3-flex-r-single-1 {
  &::before {
    background: url("/upload/brands/imgs/petibon_list-001.png") no-repeat center;
  }
}
.petibon__block-3-flex-r-single-2 {
  &::before {
    background: url("/upload/brands/imgs/petibon_list-002.png") no-repeat center;
  }
}
.petibon__block-3-flex-r-single-3 {
  &::before {
    background: url("/upload/brands/imgs/petibon_list-003.png") no-repeat center;
  }
}
.petibon__block-3-flex-r-single-4 {
  &::before {
    background: url("/upload/brands/imgs/petibon_list-004.png") no-repeat center;
  }
}
.petibon__block-3-img {
  position: absolute;
  left: -40px;
  bottom: 0;
}
.petibon__block-4 {
  padding-top: 250px;
  padding-bottom: 200px;
  position: relative;
}
.petibon__block-4-heading {
  font-size: 72px;
  line-height: 70px;
  color: rgba(53, 41, 30, 1);
  font-weight: 500;
  max-width: 690px;
  margin-bottom: 35px;
}
.petibon__block-4-info {
  font-size: 18px;
  line-height: 24px;
  max-width: 630px;
}
.petibon__block-4-bowl {
  position: absolute;
  right: 0;
  bottom: -90px;
}
.petibon__block-above-footer-heading {
  color: rgba(53, 41, 30, 1);
  font-size: 72px;
  line-height: 90px;
  font-weight: 500;
  white-space: nowrap;
  margin-top: 70px;
  margin-bottom: 40px;
}
.petibon__block-above-footer {
  position: relative;
  overflow: hidden;

  .container {
    position: relative;
  }
}
.petibon__block-above-footer-bl-img {
  border-bottom-right-radius: 200px;
  overflow: hidden;
  width: 530px;
  height: 415px;
  picture {
    height: auto;
  }
}
.petibon__block-above-footer-bl-1.petibon__block-above-footer-bl {
  margin-bottom: 50px;
  .petibon__block-above-footer-bl-img {
    margin-right: 90px;
  }
}
.petibon__block-above-footer-bl {
  display: flex;
}
.petibon__block-above-footer-bl-inf {
  max-width: 640px;
}
.petibon__block-above-footer-bl-heading {
  font-size: 32px;
  line-height: 38px;
  font-weight: 500;
  margin-bottom: 20px;
}
.petibon__block-above-footer-bl-txt {
  font-size: 20px;
  line-height: 24px;
  p {
    + {
      p {
        margin-top: 20px;
      }
    }
  }
}
.petibon__block-above-footer-bl-2.petibon__block-above-footer-bl {
  .petibon__block-above-footer-bl-img {
    position: relative;
    top: -50px;
  }
}
.petibon__block-above-footer-bgline {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -410px;
}
.brand__page-10 {
  background: rgba(245, 245, 245, 1);
}
.ekonorm__block-1 {
  position: relative;
  overflow: hidden;
  padding-bottom: 220px;
}
.ekonorm__block-1-heading {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;
  max-width: 650px;
  margin-bottom: 24px;
}
.ekonorm__block-1-info {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 630px;
}
.ekonorm__block-1-list-heading {
  font-family: Gilroy;
  font-weight: 500;
  line-height: 24px;
}
.ekonorm__block-1-list-text {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
  + {
    .ekonorm__block-1-list-text {
      margin-top: 30px;
    }
  }
}
.ekonorm__block-1-list-single {
  + {
    .ekonorm__block-1-list-single {
      margin-top: 30px;
    }
  }
  position: relative;
}
.ekonorm__block-1-list {
  margin-top: 20px;
  max-width: 430px;
  margin-left: 230px;
  padding-left: 70px;
  .ekonorm__block-1-list-single {
    &::before {
      display: block;
      position: absolute;
      content: "";
      width: 87px;
      height: 87px;
      left: -110px;
      background-size: contain !important;
    }
  }
}
.ekonorm__block-1-list-single.ekonorm__block-1-list-single-001 {
  &::before {
    background: url("/upload/brands/imgs/ekonorm_list-1.png") no-repeat center;
  }
}
.ekonorm__block-1-list-single.ekonorm__block-1-list-single-002 {
  &::before {
    background: url("/upload/brands/imgs/ekonorm_list-2.png") no-repeat center;
  }
}
.ekonorm__block-1-list-single.ekonorm__block-1-list-single-003 {
  &::before {
    background: url("/upload/brands/imgs/ekonorm_list-3.png") no-repeat center;
  }
}
.ekonorm__block-1-doggo {
  position: absolute;
  z-index: 3;
  right: -10px;
  bottom: -160px;
  max-width: 800px;
}
.ekonorm__block-1-bg-name {
  font-family: Suisse Intl;
  font-weight: 600;
  font-size: 260px;
  line-height: 90px;
  z-index: 1;
  position: absolute;
  bottom: 30px;
  color: rgba(115, 56, 22, 0.08);
}
.ekonorm__block-2 {
  background: rgba(255, 255, 255, 1);
  padding-top: 80px;
  position: relative;
  padding-bottom: 140px;
  .container {
    padding-left: 370px;
  }
}
.ekonorm__block-2-heading {
  font-family: "Suisse";
  font-weight: 500;
  font-size: 90px;
  line-height: 86px;
  color: var(--dark-grey, rgba(82, 81, 81, 1));
  margin-bottom: 30px;
}
.ekonorm__block-2-info {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  max-width: 720px;
  p {
    + {
      p {
        margin-top: 30px;
      }
    }
  }
}
.ekonorm__block-2-link {
  a {
    gap: 24px;
    border-radius: 20px;
    padding-top: 12px;
    padding-right: 40px;
    padding-bottom: 12px;
    padding-left: 40px;
    font-family: Gilroy;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: var(--grey-background, rgba(245, 245, 245, 1));
    background: rgba(179, 202, 83, 1);
  }
  margin-top: 50px;
}
.ekonorm__block-2-bowl {
  position: absolute;
  left: 0;
  max-width: 510px;
  top: 50px;
}
.ekonorm__block-3 {
  background-color: #fff;
  background: url("/upload/brands/imgs/ekonorm-3-bg.png") no-repeat center #fff;
  background-size: cover;
  border-bottom-right-radius: 200px;
  padding-top: 130px;
  position: relative;
  padding-bottom: 140px;
}
.ekonorm__block-3-list-single {
  background: rgba(255, 255, 255, 0.8);
  padding: 25px 30px;
  max-width: 560px;
  opacity: 1;
  border-radius: 20px;
  padding: 24px;
  position: relative;

  + {
    .ekonorm__block-3-list-single {
      margin-top: 30px;
    }
  }

  @include before {
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='393' height='16' viewBox='0 0 393 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M377 7.99997C377 12.4182 380.582 16 385 16C389.418 16 393 12.4182 393 7.99997C393 3.58169 389.418 -3.4044e-05 385 -3.36578e-05C380.582 -3.32715e-05 377 3.58169 377 7.99997ZM0 8L1.31134e-07 9.5L3.00781 9.5L3.00781 8L3.00781 6.5L-1.31134e-07 6.5L0 8ZM9.02344 8L9.02344 9.5L15.0391 9.5L15.0391 8L15.0391 6.5L9.02344 6.5L9.02344 8ZM21.0547 8L21.0547 9.5L27.0703 9.5L27.0703 8L27.0703 6.5L21.0547 6.5L21.0547 8ZM33.0859 8L33.0859 9.5L39.1016 9.5L39.1016 8L39.1016 6.5L33.0859 6.5L33.0859 8ZM45.1172 8L45.1172 9.5L51.1328 9.5L51.1328 8L51.1328 6.5L45.1172 6.5L45.1172 8ZM57.1484 8L57.1484 9.5L63.1641 9.49999L63.1641 7.99999L63.1641 6.49999L57.1484 6.5L57.1484 8ZM69.1797 7.99999L69.1797 9.49999L75.1953 9.49999L75.1953 7.99999L75.1953 6.49999L69.1797 6.49999L69.1797 7.99999ZM81.2109 7.99999L81.2109 9.49999L87.2266 9.49999L87.2266 7.99999L87.2266 6.49999L81.2109 6.49999L81.2109 7.99999ZM93.2422 7.99999L93.2422 9.49999L99.2578 9.49999L99.2578 7.99999L99.2578 6.49999L93.2422 6.49999L93.2422 7.99999ZM105.273 7.99999L105.273 9.49999L111.289 9.49999L111.289 7.99999L111.289 6.49999L105.273 6.49999L105.273 7.99999ZM117.305 7.99999L117.305 9.49999L123.32 9.49999L123.32 7.99999L123.32 6.49999L117.305 6.49999L117.305 7.99999ZM129.336 7.99999L129.336 9.49999L135.352 9.49999L135.352 7.99999L135.352 6.49999L129.336 6.49999L129.336 7.99999ZM141.367 7.99999L141.367 9.49999L147.383 9.49999L147.383 7.99999L147.383 6.49999L141.367 6.49999L141.367 7.99999ZM153.398 7.99999L153.398 9.49999L159.414 9.49999L159.414 7.99999L159.414 6.49999L153.398 6.49999L153.398 7.99999ZM165.43 7.99999L165.43 9.49999L171.445 9.49999L171.445 7.99999L171.445 6.49999L165.43 6.49999L165.43 7.99999ZM177.461 7.99998L177.461 9.49998L183.477 9.49998L183.477 7.99998L183.477 6.49998L177.461 6.49998L177.461 7.99998ZM189.492 7.99998L189.492 9.49998L195.508 9.49998L195.508 7.99998L195.508 6.49998L189.492 6.49998L189.492 7.99998ZM201.523 7.99998L201.523 9.49998L207.539 9.49998L207.539 7.99998L207.539 6.49998L201.523 6.49998L201.523 7.99998ZM213.555 7.99998L213.555 9.49998L219.57 9.49998L219.57 7.99998L219.57 6.49998L213.555 6.49998L213.555 7.99998ZM225.586 7.99998L225.586 9.49998L231.602 9.49998L231.602 7.99998L231.602 6.49998L225.586 6.49998L225.586 7.99998ZM237.617 7.99998L237.617 9.49998L243.633 9.49998L243.633 7.99998L243.633 6.49998L237.617 6.49998L237.617 7.99998ZM249.648 7.99998L249.648 9.49998L255.664 9.49998L255.664 7.99998L255.664 6.49998L249.648 6.49998L249.648 7.99998ZM261.68 7.99998L261.68 9.49998L267.695 9.49998L267.695 7.99998L267.695 6.49998L261.68 6.49998L261.68 7.99998ZM273.711 7.99998L273.711 9.49998L279.727 9.49998L279.727 7.99998L279.727 6.49998L273.711 6.49998L273.711 7.99998ZM285.742 7.99998L285.742 9.49998L291.758 9.49997L291.758 7.99997L291.758 6.49997L285.742 6.49998L285.742 7.99998ZM297.773 7.99997L297.773 9.49997L303.789 9.49997L303.789 7.99997L303.789 6.49997L297.773 6.49997L297.773 7.99997ZM309.805 7.99997L309.805 9.49997L315.82 9.49997L315.82 7.99997L315.82 6.49997L309.805 6.49997L309.805 7.99997ZM321.836 7.99997L321.836 9.49997L327.852 9.49997L327.852 7.99997L327.852 6.49997L321.836 6.49997L321.836 7.99997ZM333.867 7.99997L333.867 9.49997L339.883 9.49997L339.883 7.99997L339.883 6.49997L333.867 6.49997L333.867 7.99997ZM345.898 7.99997L345.898 9.49997L351.914 9.49997L351.914 7.99997L351.914 6.49997L345.898 6.49997L345.898 7.99997ZM357.93 7.99997L357.93 9.49997L363.945 9.49997L363.945 7.99997L363.945 6.49997L357.93 6.49997L357.93 7.99997ZM369.961 7.99997L369.961 9.49997L375.977 9.49997L375.977 7.99997L375.977 6.49997L369.961 6.49997L369.961 7.99997ZM381.992 7.99997L381.992 9.49997L385 9.49997L385 7.99997L385 6.49997L381.992 6.49997L381.992 7.99997Z' fill='white'/%3e%3c/svg%3e ");
    background-position: center right;
    background-repeat: no-repeat;
    height: 30px;
    right: calc(100% + 20px);
    top: calc(50% - 15px);
    pointer-events: none;
  }

  &:nth-child(1) {
    &::before {
      width: 385px;
    }
  }
  &:nth-child(2) {
    &::before {
      width: 224px;
    }
  }
  &:nth-child(3) {
    &::before {
      width: 177px;
    }
  }
  &:nth-child(4) {
    &::before {
      width: 200px;
    }
  }
}
.ekonorm__block-3-list {
  margin-left: 650px;
}
.ekonorm__block-3-cans {
  position: absolute;
  z-index: 3;
  border: 0px;
  bottom: 620px;
  left: 190px;
  picture.can-1 {
    position: absolute;
    width: 330px;
  }
  picture.can-2 {
    position: absolute;
    width: 350px;
    bottom: -510px;
    left: 120px;
  }
}
.ekonorm__block-4 {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  background: #fff;
  .container {
    padding-left: 680px;
  }
}
.ekonorm__block-4-heading {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;
  max-width: 480px;
}
.ekonorm__block-4-info {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 40px;
  max-width: 550px;
}
.ekonorm__block-4-plate {
  position: absolute;
  z-index: 3;
  left: 0;
  bottom: 0;
}
.brand__content-block.brand__content-block-3 {
  background: #fff;
}
.ekonorm__block-above-footer {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  background-color: #fff;

  .container {
    overflow: visible;
  }
}
.ekonorm__block-above-footer-heading {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 64px;
  line-height: 64px;
  max-width: 550px;
}
.ekonorm__block-above-footer-info {
  font-family: Gilroy;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 25px;
  max-width: 480px;
}
.ekonorm__block-above-footer-we {
  margin-left: 660px;
  position: relative;

  &::after {
    position: absolute;
    display: block;
    content: "";
    background: url(/upload/brands/imgs/ekonorm_afooter-bg.png) no-repeat center;
    width: 1390px;
    height: 662px;
    right: -430px;
    bottom: -90px;
    z-index: 2;
    background-size: contain;
  }
}
.ekonorm__block-above-footer-pets {
  position: absolute;
  left: 20px;
  top: 20px;
  width: 906px;
  height: 515px;

  picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 1799px) {
  .ekonorm__block-above-footer-pets {
    left: 0px;
    top: 100px;
    width: 766px;
    height: 425px;
  }

  .ekonorm__block-3-cans {
    left: 60px;
  }
}

@media (max-width: 1699px) {
  .brunch__block-1-doggy {
    left: -270px;
    bottom: -70px;
  }

  .brunch__block-2-bg-imgs picture.img-2 {
    left: 80px;
    top: 130px;
    width: 400px;
  }

  .brunch__block-3-bowl {
    left: 10px;
  }

  .petibon__block-3-img {
    bottom: -60px;
  }

  .petibon__block-4-bowl {
    bottom: -50px;
    right: -90px;
  }

  .petibon__block-4-bowl {
    bottom: -30px;
    right: -210px;
  }

  .petibon__block-above-footer-bgline {
    margin-top: -270px;
  }
}
@media (max-width: 1450px) {
  .brunch__block-1-heading {
    font-size: 56px;
    max-width: 1100px;
    text-align: left;
    font-weight: 400;
    font-size: 56px;
    line-height: 60px;
  }
  .brunch__block-1-doggy {
    max-width: 617px;
  }
  .brunch__block-1-name-bg {
    font-size: 240px;
  }
  .petibon__block-3-img {
    max-width: 970px;
  }
  .petibon__block-4-bowl {
    max-width: 580px;
    bottom: -30px;
  }
  .petibon__block-4 {
    padding-top: 130px;
    padding-bottom: 100px;
  }
  .petibon__block-above-footer-heading {
    white-space: normal;
  }
  .petibon__block-1-bowl {
    max-width: 530px;
  }
  .petibon__block-1--info-right {
    width: 570px;
    right: -60px;
  }
  .petibon__block-1--info-left {
    width: 620px;
  }
  .petibon__block-1-heading {
    font-size: 64px;
    line-height: 64px;
  }
  .petibon__block-1--info {
    height: 680px;
  }
  .petibon__block-2-heading {
    font-size: 64px;
    line-height: 64px;
  }
  .ekonorm__block-1-doggo {
    max-width: 700px;
  }
  .ekonorm__block-2-heading {
    font-size: 85px;
  }
  .ekonorm__block-above-footer-we {
    margin-left: 600px;
  }
  .ekonorm__block-above-footer-heading {
    max-width: 600px;
  }

  .ekonorm__block-above-footer-pets {
    width: 606px;
    height: 345px;
  }

  .ekonorm__block-3-cans {
    left: 20px;
  }
}
@media (max-width: 1290px) {
  .brunch__block-2-bg-imgs {
    margin-left: 0;
    position: absolute;
    right: 0;
    width: 420px;
    height: 180px;
    picture.img-1 {
      width: 280px;
      top: -50px;
    }
    picture.img-2 {
      width: 290px;
      left: 130px;
      top: 30px;
    }
  }
  .brunch__block-2-info {
    max-width: 700px;
    margin-top: 40px;
    font-size: 14px;
  }
  .brunch__block-2-heading {
    font-size: 50px;
  }
  .brunch__block-above-footer-doggo {
    max-width: 510px;
    top: -90px;
  }
  .brunch__block-above-footer {
    .container {
      padding-left: 450px;
    }
  }
  .brunch__block-3-bowl {
    img {
      max-width: 520px;
    }
    &::before {
      width: 390px;
      height: 390px;
    }
    top: 300px;
  }
  .ekonorm__block-2-bowl {
    max-width: 420px;
    top: 80px;
  }
  .ekonorm__block-1-bg-name {
    font-size: 210px;
  }
}
@media (max-width: 1199px) {
  .brunch__block-2-common-wr-left {
    max-width: 430px;
  }
  .ekonorm__block-1-doggo {
    max-width: 470px;
  }

  .ekonorm__block-above-footer-we {
    margin-left: 370px;
  }

  .ekonorm__block-above-footer-pets {
    width: 586px;
    height: 275px;
    top: 190px;
    left: -30px;
  }

  .ekonorm__block-above-footer-we::after {
    width: 800px;
    height: 500px;
    right: -170px;
    bottom: -90px;
  }

  .ekonorm__block-3-list-single {
    padding: 16px;
  }

  .ekonorm__block-3-list-single {
    &:nth-child(1) {
      &::before {
        width: 185px;
      }
    }
    &:nth-child(2) {
      &::before {
        width: 110px;
      }
    }
    &:nth-child(3) {
      &::before {
        width: 80px;
      }
    }
    &:nth-child(4) {
      &::before {
        width: 120px;
      }
    }
  }
}
@media (max-width: 1050px) {
  .brunch__block-1-heading {
    max-width: calc(100% - 200px);
    font-size: 50px;
  }
  .brunch__block-1-info {
    font-size: 14px;
    max-width: 480px;
    margin-top: 30px;
  }
  .brunch__block-1-wr {
    height: 460px;
  }
  .brunch__block-1-name-bg {
    font-size: 210px;
  }
  .brunch__block-1-doggy {
    max-width: 610px;
    left: -150px;
  }
  .brunch__block-2-info {
    max-width: 520px;
  }
  .brunch__block-2 {
    padding-bottom: 140px;
  }
  .brunch__block-3-heading {
    margin-left: 300px;
    font-size: 50px;
  }
  .brunch__block-3-bowl {
    img {
      max-width: 370px;
    }
    &::before {
      width: 270px;
      height: 270px;
    }
  }
  .brunch__block-3-info {
    margin-left: 460px;
  }
  .brunch__block-above-footer-heading {
    font-size: 50px;
    line-height: 50px;
  }
  .brunch__block-above-footer-doggo {
    max-width: 390px;
    top: -80px;
  }
  .brunch__block-above-footer {
    padding-top: 40px;
    padding-bottom: 40px;
    .container {
      padding-left: 310px;
    }
  }
  .petibon__block-1-heading {
    font-size: 50px;
    line-height: 50px;
  }
  .petibon__block-1-text {
    font-size: 14px;
  }
  .petibon__block-1--info {
    max-height: 480px;
  }
  .petibon__block-1-bowl {
    max-width: 350px;
  }
  .petibon__block-1-bg-name {
    font-size: 170px;
  }
  .petibon__block-1--info-left {
    max-width: 490px;
  }
  .petibon__block-1--info-right {
    width: 400px;
    right: -70px;
  }
  .petibon__block-2-heading {
    font-size: 50px;
    line-height: 50px;
    margin-top: 30px;
  }
  .petibon__block-3-header {
    font-size: 50px;
    line-height: 50px;
  }
  .petibon__block-3 {
    padding-top: 30px;
    padding-bottom: 150px;
  }
  .petibon__block-3-flex-l-heading {
    font-size: 24px;
    line-height: 24px;
  }
  .petibon__block-3-flex-l-info {
    font-size: 14px;
    line-height: 18px;
  }
  .petibon__block-3-flex-r-list {
    width: 350px;
    margin-left: 20px;
    .petibon__block-3-flex-r-single {
      &::before {
        width: 60px;
        height: 60px;
      }
    }
  }
  .petibon__block-3-flex-r-single-heading {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }
  .petibon__block-3-flex-r-single-info {
    font-size: 14px;
    line-height: 18px;
  }
  .petibon__block-3-flex-r-single {
    padding-left: 80px;
  }
  .petibon__block-3-img {
    max-width: 770px;
  }
  .petibon__block-4 {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .petibon__block-4-heading {
    font-size: 50px;
    line-height: 50px;
    max-width: 450px;
  }
  .petibon__block-4-info {
    max-width: 520px;
    font-size: 14px;
  }
  .petibon__block-4-bowl {
    max-width: 400px;
    bottom: -50px;
  }
  .petibon__block-above-footer-heading {
    margin-top: 40px;
    font-size: 50px;
    line-height: 50px;
  }
  .petibon__block-above-footer-bl-img {
    width: 400px;
  }
  .petibon__block-above-footer-bl-inf {
    max-width: 390px;
  }
  .petibon__block-above-footer-bl-1.petibon__block-above-footer-bl {
    .petibon__block-above-footer-bl-img {
      margin-right: 20px;
    }
    margin-bottom: 0;
  }
  .petibon__block-above-footer-bl-txt {
    font-size: 16px;
  }
  .petibon__block-above-footer {
    padding-bottom: 20px;
  }
  .ekonorm__block-1-heading {
    font-size: 50px;
    line-height: 50px;
  }
  .ekonorm__block-1-info {
    font-size: 14px;
    max-width: 450px;
  }
  .ekonorm__block-1-list {
    .ekonorm__block-1-list-single {
      &::before {
        width: 55px;
        height: 55px;
        left: -68px;
        top: 5px;
      }
    }
    padding-left: 70px;
    margin-left: 160px;
  }
  .ekonorm__block-1-list-text {
    margin-top: 8px;
  }
  .ekonorm__block-1-list-single.ekonorm__block-1-list-single-003 {
    max-width: 314px;
  }
  .ekonorm__block-1-doggo {
    max-width: 500px;
    bottom: -120px;
  }
  .ekonorm__block-3-list {
    margin-left: 400px;
  }
  .ekonorm__block-3-cans {
    picture.can-1 {
      width: 260px;
    }
    picture.can-2 {
      width: 285px;
      bottom: -410px;
    }
    left: 30px;
    bottom: 570px;
  }
  .ekonorm__block-4-heading {
    font-size: 50px;
    line-height: 50px;
  }
  .ekonorm__block-4-plate {
    max-width: 380px;
  }
  .ekonorm__block-4 {
    .container {
      padding-left: 390px;
    }
  }
  .ekonorm__block-above-footer-heading {
    font-size: 50px;
    line-height: 50px;
  }
  .ekonorm__block-above-footer-pets {
    max-width: 420px;
    top: 110px;
  }
  .ekonorm__block-above-footer-we {
    margin-left: 400px;
  }
  .ekonorm__block-2-bowl {
    max-width: 340px;
    top: 80px;
  }
  .ekonorm__block-2-heading {
    font-size: 55px;
  }
}
@media (max-width: 1023px) {
  .brunch__block-2-common-wr-left {
    max-width: 340px;
  }

  .brunch__block-2-heading {
    max-width: 350px;
    line-height: 40px;
  }

  .ekonorm__block-3-cans picture.can-1 {
    width: 200px;
  }

  .ekonorm__block-3-cans picture.can-2 {
    width: 205px;
    bottom: -330px;
    left: 90px;
  }

  .ekonorm__block-3-cans {
    left: 30px;
    bottom: 520px;
  }

  .ekonorm__block-1-doggo {
    max-width: 500px;
    bottom: -130px;
    right: -80px;
  }
}
@media (max-width: 700px) {
  .brunch__block-1-heading {
    max-width: calc(100% - 40px);
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
  }
  .brunch__block-1-info {
    font-size: 16px;
  }
  .brunch__block-1-name-bg {
    font-size: 80px;
    right: -60px;
    bottom: 20px;
  }
  .brunch__block-1-doggy {
    max-width: 220px;
    left: 0;
    bottom: -20px;
  }
  .brunch__block-1-wr {
    height: 360px;
  }
  .brunch__block-2-heading {
    font-size: 24px;
    line-height: 24px;
  }
  .brunch__block-2-info {
    font-size: 16px;
  }
  .brunch__block-2-bg-imgs {
    position: relative;
    width: 100%;
    picture.img-1 {
      top: 0;
    }
    picture.img-2 {
      top: 80px;
    }
  }
  .brunch__block-2-common-wr {
    display: block;
  }
  .brunch__block-3-bowl {
    display: none;
  }
  .brunch__block-3-heading {
    margin: 0;
    margin-top: 50px;
    font-size: 24px;
    line-height: 24px;
  }
  .brunch__block-3-info {
    margin: 0;
    margin-top: 20px;
  }
  .brunch__block-above-footer {
    .container {
      display: flex;
      flex-direction: column;
      padding: 0;
      max-width: calc(100% - 20px);
      order: 20;
    }
    display: flex;
    flex-direction: column;
  }
  .brunch__block-above-footer-doggo {
    position: relative;
    top: 0;
    order: 10;
    left: 0;
    margin-top: -100px;
    margin-bottom: 30px;
  }
  .brunch__block-above-footer-heading {
    font-size: 24px;
    line-height: 24px;
    order: 20;
  }
  .brunch__block-above-footer-info {
    margin-top: 24px;
    order: 30;
  }
  .petibon__block-1-heading {
    line-height: 24px;
    font-size: 24px;
  }
  .petibon__block-1-text {
    font-size: 16px;
    line-height: 18px;
  }
  .petibon__block-1-bg-name {
    font-size: 80px;
  }
  .petibon__block-1--info-right {
    width: 270px;
    position: relative;
    right: -130px;
  }
  .petibon__block-1--info {
    display: block;
  }
  .petibon__block-1--info-left {
    max-width: 100%;
  }
  .petibon__block-1-bowl {
    max-width: 200px;
    bottom: -30px;
  }
  .petibon__block-2-heading {
    font-size: 24px;
    line-height: 24px;
  }
  .petibon__block-2-flex {
    flex-direction: column-reverse;
  }
  .petibon__block-2-flex-r {
    width: auto;
  }
  .petibon__block-2-flex-l {
    picture {
      margin: 0;
      padding: 0;
      right: 0;
      margin-top: 40px;
    }
  }
  .petibon__block-2-link {
    width: 100%;
    a {
      font-size: 16px;
      font-weight: 400;
    }
  }
  .petibon__block-3-header {
    font-size: 24px;
    line-height: 24px;
  }
  .petibon__block-3-flex {
    margin-top: 10px;
    flex-direction: column;
  }
  .petibon__block-3-flex-l-heading {
    font-size: 18px;
    line-height: 18px;
  }
  .petibon__block-3-flex-l-info {
    font-size: 16px;
    line-height: 18px;
  }
  .petibon__block-3-flex-r-list {
    margin: 0;
    width: 100%;
    margin-top: 30px;
  }
  .petibon__block-3-flex-r-single {
    + {
      .petibon__block-3-flex-r-single {
        margin-top: 20px;
      }
    }
  }
  .petibon__block-3 {
    padding-bottom: 220px;
    border-bottom-right-radius: 70px;
  }
  .petibon__block-3-img {
    max-width: 360px;
  }
  .petibon__block-4-heading {
    font-size: 24px;
    line-height: 24px;
  }
  .petibon__block-4-bowl {
    max-width: 220px;
  }
  .petibon__block-4 {
    padding-bottom: 110px;
  }
  .petibon__block-above-footer-heading {
    font-size: 24px;
    line-height: 24px;
  }
  .petibon__block-above-footer-bl {
    flex-direction: column;
  }
  .petibon__block-above-footer-bl-1.petibon__block-above-footer-bl {
    .petibon__block-above-footer-bl-img {
      margin: 0;
      width: auto;
      height: auto;
    }
  }
  .petibon__block-above-footer-bl-heading {
    font-size: 18px;
    line-height: 18px;
    margin-top: 30px;
  }
  .petibon__block-above-footer-bl-2.petibon__block-above-footer-bl {
    .petibon__block-above-footer-bl-img {
      top: 20px;
      height: auto;
      margin-bottom: 30px;
    }
  }
  .ekonorm__block-1-heading {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .ekonorm__block-1-list {
    margin-left: 0;
  }
  .ekonorm__block-1-list-text {
    margin-top: 1px;
  }
  .ekonorm__block-1-bg-name {
    font-size: 80px;
    bottom: -20px;
  }
  .ekonorm__block-1-doggo {
    position: relative;
    left: 0px;
    max-width: calc(100% - 20px);
    bottom: -90px;
    margin-top: -120px;
  }
  .ekonorm__block-1 {
    padding-bottom: 0;
  }
  .ekonorm__block-2-bowl {
    position: relative;
    max-width: 290px;
    top: 20px;
  }
  .ekonorm__block-2 {
    .container {
      padding: 0;
      max-width: calc(100% - 30px);
    }
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .ekonorm__block-2-heading {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 10px;
  }
  .ekonorm__block-2-link {
    width: 100%;
    a {
      width: 100%;
      display: block;
      text-align: center;
    }
  }
  .ekonorm__block-3 {
    padding-top: 30px;
    display: flex;
    flex-direction: column-reverse;
    border-bottom-right-radius: 70px;
    padding-bottom: 80px;
  }
  .ekonorm__block-3-cans {
    position: relative;
    left: 0;
    bottom: 0;
    height: 240px;
    picture.can-1 {
      width: 150px;
      left: 100px;
      top: 0;
    }
    picture.can-2 {
      width: 150px;
      left: 170px;
      top: 140px;
    }
  }
  .ekonorm__block-3-list {
    margin: 0;
  }
  .ekonorm__block-3-list-single {
    + {
      .ekonorm__block-3-list-single {
        margin-top: 10px;
      }
    }
  }
  .ekonorm__block-4 {
    .container {
      padding: 0;
      max-width: calc(100% - 30px);
    }
    padding-top: 40px;
    padding-bottom: 0;
  }
  .ekonorm__block-4-plate {
    position: relative;
    max-width: 300px;
    margin-top: 30px;
  }
  .ekonorm__block-4-heading {
    font-size: 24px;
    line-height: 24px;
  }
  .ekonorm__block-4-info {
    margin-top: 15px;
  }
  .ekonorm__block-above-footer {
    padding-top: 20px;
    display: flex;
    flex-direction: column-reverse;
  }
  .ekonorm__block-above-footer-pets {
    top: 0;
    position: relative;
  }
  .ekonorm__block-above-footer-we {
    margin: 0;
  }
  .ekonorm__block-above-footer-heading {
    font-size: 24px;
    line-height: 24px;
    margin-top: 30px;
  }
}
